{% extends 'base.html' %}
{% block content %}
	{% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>Product</span></p>
            <h1 class="mb-0 bread">Product Checkout</h1> 
          </div>
        </div>
      </div>
      <section class="ftco-section contact-section bg-light">
      <div class="container">    
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">
          	<div class="bg-white" style="width: 100%;padding: 2%">
          		
	    				<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<h4><strong class="customer-text" style="color:#82ae46;">Billing Address</strong></h4>
												<div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right" style="text-align: right"></label>
									        <label class="col-md-6">
									                
									        </label>
									              </div><br>
												<div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right" style="text-align: right">Address Line 1<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="address1" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Address Line 2</label>

									        <label class="col-md-6">
									                 <input type="text" name="address2" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">City<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="city" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
													<label class="mr-3 col-md-4" style="text-align: right">State<span style="color:red">*</span></label>
													<label class="col-md-6">
									                 <input type="text" name="state" class="form-control" autocomplete="off">
													</label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Postal Code<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="postal_code" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Country<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="country" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Mobile Number<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="mobile_number" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Land Mark</label>
									        <label class="col-md-6">
									                 <input type="text" name="land_mark" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="col-md-4" style="border:0px solid red;text-align: right">Default</label>&nbsp;&nbsp;
									          <label class="col-md-6" style="border:0px solid red">
									            <label style="float:left">
									            <input type="radio" name="address_default" value="1">&nbsp;&nbsp;Yes
									            </label> &nbsp;&nbsp;&nbsp;&nbsp;
									            <label style="float:left;padding-left:20px"><input type="radio" name="address_default" value="2">&nbsp;&nbsp;No</label>
									          </label>
									              </div>
									              <div class="form-group">
													<label class="col-md-4" style="border:0px solid red;text-align: right">Status </label>&nbsp;&nbsp;
														<label class="col-md-6" style="border:0px solid red">
														  <label style="float:left">
															<input type="radio" name="address_status" value="1">&nbsp;&nbsp;Active
														  </label> &nbsp;&nbsp;&nbsp;&nbsp;
														  <label style="float:left;padding-left:20px"><input type="radio" name="address_status" value="2" checked>&nbsp;&nbsp;In active</label>
														</label>
									              </div>
											</div>
										</div>
										<div class="col-md-6" >
											<div class="invoice-info invoice-info2" style="float: right">
												
												<h4 style="text-align: right"><strong class="customer-text" style="color:#82ae46;">Shipping Address</strong></h4>
												
									        		<div style="padding-left: 56%;">
												  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" value="" class="form-check-input">Same as Shipping Address</label>
												
									      
									        
									             </div><br>
												<div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right" style="text-align: right">Address Line 1<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="address1" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Address Line 2</label>

									        <label class="col-md-6">
									                 <input type="text" name="address2" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">City<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="city" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
													<label class="mr-3 col-md-4" style="text-align: right">State<span style="color:red">*</span></label>
													<label class="col-md-6">
									                 <input type="text" name="state" class="form-control" autocomplete="off">
													</label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Postal Code<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="postal_code" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Country<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="country" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Mobile Number<span style="color:red">*</span></label>
									        <label class="col-md-6">
									                 <input type="text" name="mobile_number" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="mr-3 col-md-4" style="text-align: right">Land Mark</label>
									        <label class="col-md-6">
									                 <input type="text" name="land_mark" class="form-control" autocomplete="off">
									        </label>
									              </div>
									              <div class="form-group">
									        <label class="col-md-4" style="border:0px solid red;text-align: right">Default</label>&nbsp;&nbsp;
									          <label class="col-md-6" style="border:0px solid red">
									            <label style="float:left">
									            <input type="radio" name="address_default" value="1">&nbsp;&nbsp;Yes
									            </label> &nbsp;&nbsp;&nbsp;&nbsp;
									            <label style="float:left;padding-left:20px"><input type="radio" name="address_default" value="2">&nbsp;&nbsp;No</label>
									          </label>
									              </div>
									              <div class="form-group">
													<label class="col-md-4" style="border:0px solid red;text-align: right">Status </label>&nbsp;&nbsp;
														<label class="col-md-6" style="border:0px solid red">
														  <label style="float:left">
															<input type="radio" name="address_status" value="1">&nbsp;&nbsp;Active
														  </label> &nbsp;&nbsp;&nbsp;&nbsp;
														  <label style="float:left;padding-left:20px"><input type="radio" name="address_status" value="2" checked>&nbsp;&nbsp;In active</label>
														</label>
									              </div>
											</div>
										</div>
									</div>
								</div><br>
						<center>
					<div class="submit-section submit-btn-bottom">
              <div class="form-group ">
                 
                <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                <a href="" class="btn btn-danger py-3 px-5">Continue Shopping</a>
              </div>
			       </div>
			       </center>

          </div>
      </div>
  </div>
</div>
</section>
{% endblock %}