{% extends 'base.html' %}
{% block content %}
	{% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>Product</span></p>
            <h1 class="mb-0 bread">Edit Product</h1> 
          </div>
        </div>
      </div>

    <section class="ftco-section contact-section bg-light">
      <div class="container">    
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">

            <form action="" class="bg-white p-5 contact-form" method="post">
              {% csrf_token %}
              <h5 style="padding-left: 90%"><a href="/product_list/"class='btn btn-danger' style="color:white;border:1px solid white;">Back</a></h5>
               <center><div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Category</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.category_id.errors %}
            <div style="color:red;text-align: left">{{ forms.category_id.errors }}</div>
          {% endif %}
          <select name="category_id" id="" class="form-control">
            <option value="">-Select Code-</option>
            {%for cat_val in cat_values%}
            <option value="{{cat_val.id}}" {% if product_details.category_id == cat_val.id %} selected {%endif%}>{{cat_val.cat_name|title}}</option>
            {%endfor%}
                </select>
               
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Product Group</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.product_group_id.errors %}
            <div style="color:red;text-align: left">{{ forms.product_group_id.errors }}</div>
          {% endif %}
          <select name="product_group_id" id="" class="form-control">
            <option value="">-Select Code-</option>
            {%for prt_val in prt_values%}
            <option value="{{prt_val.id}}" {% if product_details.product_group_id == prt_val.id %} selected {%endif%}>{{prt_val.name|title}}</option>
            {%endfor%}
                </select>
               
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Pack Type</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.pack_id.errors %}
            <div style="color:red;text-align: left">{{ forms.pack_id.errors }}</div>
          {% endif %}
          <select name="pack_id" id="" class="form-control">
            <option value="">-Select Code-</option>
            {%for pack_val in pack_values%}
            <option value="{{pack_val.id}}" {% if product_details.pack_id == pack_val.id %} selected {%endif%}>{{pack_val.name|title}}</option>
            {%endfor%}
                </select>
               
        </label>
              </div>
              <input type="hidden" name="product_id" class="form-control" value="{{product_id}}" autocomplete="off">
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Name </b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.prt_name.errors %}
            <div style="color:red;text-align: left">{{ forms.prt_name.errors }}</div>
          {% endif %}
                 <input type="text" name="prt_name" class="form-control" autocomplete="off" value="{{product_details.name|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>SEO Name</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.seo_name.errors %}
            <div style="color:red;text-align: left">{{ forms.seo_name.errors }}</div>
          {% endif %}
                 <input type="text" name="seo_name" class="form-control" value="{{product_details.seo_name|default:''}}" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Mat Code</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.mat_code.errors %}
            <div style="color:red;text-align: left">{{ forms.mat_code.errors }}</div>
          {% endif %}
                 <input type="text" name="mat_code" class="form-control" value="{{product_details.mat_code|default:''}}" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Weight</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.weight.errors %}
            <div style="color:red;text-align: left">{{ forms.weight.errors }}</div>
          {% endif %}
                 <input type="text" name="weight" class="form-control" value="{{product_details.weight|default:''}}" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"style="color: black"><b>Actual Price</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.actual_price.errors %}
            <div style="color:red;text-align: left">{{ forms.actual_price.errors }}</div>
          {% endif %}
                 <input type="text" name="actual_price" class="form-control" value="{{product_details.actual_price|default:''}}" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"style="color: black"><b>Offer Price</b></label>
        <label class="col-md-6">
                 <input type="text" name="offer_price" class="form-control" value="{{product_details.offer_price|default:''}}" autocomplete="off">
        </label>
              </div>
              <div class="row row-xs mg-t-20" >
              <label class="col-sm-4 form-control-label" style="text-align: right;
    padding: 5.5%;color: black"><b>Description</b></label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0" style="padding-left: 3%;">
                      <textarea class="form-control" rows="5" name="description">{{product_details.description|default:''}}</textarea>
                      </div>
                    </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>GTIN</b></label>
        <label class="col-md-6">
                 <input type="text" name="gtin" class="form-control" value="{{product_details.gtin|default:''}}" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red;color: black"><b>Status</b></label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="prt_status" value="1" {% if product_details.status == 1 %} checked {%endif%}>&nbsp;&nbsp;Active
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="prt_status" value="2" {% if product_details.status == 2 %} checked {%endif%}>&nbsp;&nbsp;In active</label>
          </label>
              </div>
             <!-- <div class="form-group">
        <label class="mr-3 col-md-2">Image Upload</label>
          <label class="col-md-6" style="padding-right: 18%;">
            
            <input type="file" name="product_image" value=""/>
          </label>
              </div>-->
        
			  
            
			         <div class="submit-section submit-btn-bottom" style="padding-right: 23%;">
              <div class="form-group ">
                 <span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Update" class="btn btn-info py-3 px-5">
                <a href="/product_edit" class="btn btn-danger py-3 px-5">Reset</a>
              </div>
			       </div>
            </form>
          </div>

        </div>
      </div>
    </section>
{% endblock %}