{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Products </span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
    </div>
    <form action="" method="POST"name="myform"> 
    	{% csrf_token %}
    <section class="ftco-section contact-section bg-light">
		<div class="container">
			<div class="row mg-b-25">
				<div class="col-lg-4">
					<div class="form-group">
						
						<select  name="search_cat_code" style="font-size:14px;" class="form-control " id="search_cat_code">
							<option  selected="selected" value="0">- Select Category Name -</option>
							
							{%for val in cat_values %}
							<option value="{{val.id}}" {%if search_val.search_cat_code == val.id %} selected {%endif%}>{{val.cat_name}}</option>
							{% endfor %}
						</select>
					</div>
                </div>
                <div class="col-lg-4">
					<div class="form-group">
						
						<select  name="product_group_id" style="font-size:14px;" class="form-control ">
							<option  selected="selected" value="0">- Select Product group -</option>
							
							{%for prt_val in prt_values %}
							<option value="{{prt_val.id}}" {%if search_val.search_product_group_id == prt_val.id %} selected {%endif%}>{{prt_val.name}}</option>
							{% endfor %}
						</select>
					</div>
                </div>
                <div class="col-lg-4">
					<div class="form-group">
						
						<select  name="pack_id" style="font-size:14px;" class="form-control " id="search_pac_typ">
							<option  selected="selected" value="0">- Select Pack type -</option>
							
							{%for pack_val in pack_values%}
            				<option value="{{pack_val.id}}" {% if search_val.search_pack_id == pack_val.id %} selected {%endif%}>{{pack_val.name}}</option>
            				{%endfor%}
						</select>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<input type="text" name="search_keyword" id="search_keyword" style="font-size:14px;"class="form-control" value="{{ search_val.search_keyword|default:"" }}" placeholder="Keyword">
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="form-group">
						<select  name="status" class="form-control"style="font-size:14px;">
							<option  selected="selected" value="">- Select Status -</option>
								<option value="1"{%if search_val.search_prt_status == "1" %} selected {%endif%}>Active</option>
								<option value="2"{%if search_val.search_prt_status == "2" %} selected {%endif%}>In Active</option>
								
						</select>
					</div>
				</div>
		
				<div class="col-lg-4">
					<div class="form-group">
						<button type="submit" class="btn btn-info mg-r-5"  style="cursor:pointer;width:80px">Search</button>
						<a href=" /product_list"  class="btn btn-danger mg-r-5"  style="cursor:pointer;width:80px"> Reset</a>
					
					</div>
				</div>
			</div>
			<table width="100%" >
				{% if messages %}
				<div class="alert alert-success" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				 {% for message in messages %}
					{{ message }}
				{% endfor %}
				</div>
				{% endif %}
			</table>
		
			<table width="100%" > 
				<tr>
				   <td style="padding:10px;color:black">
				   <input id="varPageNo" name="varPageNo" type="hidden" value="{{varPageNo}}">
					  Display 
						 <select  name="count" class="" onchange="processRecordsCount()">
							
							{% for count in rec_count_value %}
							
							   <option value="{{ count }}" {% if count == rec_count %} selected
							   {% endif %}> {{ count|title }}</option>
							{% endfor %}
						 </select> 
						 records
				   </td>
				   <td style="float: right;padding: 2%;">	
					<a href="/product_add/" class="btn btn-primary mg-r-5" style="float:right;">Add Product</a>
				   </td>
					<!-- <td style="float: right;padding: 2%;">	 -->
						<!-- <button type="submit" name="export" style="float:right;cursor:pointer;" class="btn btn-primary mg-r-5"  style="cursor:pointer;width:80px" title="Export Non Clinical Timesheet Report">Export</button> -->
					<!-- </td> -->
				</tr>
			 </table>
			 
			 <input id="varSortCol" name="varSortCol" type="hidden" value="{{ varSortCol }}">
					<input id="varSortOrder" name="varSortOrder" type="hidden" value="{{ varSortOrder }}">

					{% if varSortOrder == "DESC" %}
						{% firstof "&nbsp;<i class='icon icon-arrow-up'></i>" as coloumnSort %}
					{% else %}
						{% firstof "&nbsp;<i class='icon icon-arrow-down'></i>" as coloumnSort %}
					{% endif %}
			<div class="row" style="overflow:auto;white-space: nowrap;">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list ">
	    				<table class="table bg-white">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th><a href="javascript:void(0)" onclick="processSorting('name')" style="color:white">Name</a>{% if varSortCol == 'name' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('seo_name')" style="color:white">Seo Name</a>{% if varSortCol == 'seo_name' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('category_id')" style="color:white">Category</a>{% if varSortCol == 'category_id' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('product_group_id')" style="color:white">Product Group</a>{% if varSortCol == 'product_group_id' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('pack_id')" style="color:white">Pack Type</a>{% if varSortCol == 'pack_id' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('weight')" style="color:white">Weight</a>{% if varSortCol == 'weight' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('mat_code')" style="color:white">Mat Code</a>{% if varSortCol == 'mat_code' %} {{ coloumnSort }} {% endif %}</th>
                                <th><a href="javascript:void(0)" onclick="processSorting('actual_price')" style="color:white">Actual Price</a>{% if varSortCol == 'actual_price' %} {{ coloumnSort }} {% endif %}</th>
                                <th><a href="javascript:void(0)" onclick="processSorting('offer_price')" style="color:white">Offer Price</a>{% if varSortCol == 'offer_price' %} {{ coloumnSort }} {% endif %}</th>
                                <th><a href="javascript:void(0)" onclick="processSorting('status')" style="color:white">Status</a>{% if varSortCol == 'status' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('created_on')" style="color:white">Created On</a>{% if varSortCol == 'created_on' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('created_by')" style="color:white">Created By</a>{% if varSortCol == 'created_by' %} {{ coloumnSort }} {% endif %}</th>
						        <th>Action</th>
						      </tr>
						    </thead>
						    <tbody>
						     {%for prt in product_data %}
						      <tr class="text-center" style="color:black">
						      	<td class="">{{prt.name}}</td>
						      	<td class="">{{prt.seo_name}}</td>
						        <td style=";"class="">{% for cat_val in cat_values %}
						        	{% if prt.category_id == cat_val.id %}
						        {{cat_val.cat_name}}
						    	{%endif%}
						    	{%endfor%}</td>
						    	<td style=";"class="">{% for prt_val in prt_values %}
						        	{% if prt.product_group_id == prt_val.id %}
						        {{prt_val.name}}
						    	{%endif%}
						    	{%endfor%}</td>
						    	<td style=";"class="">{% for pack_val in pack_values %}
						        	{% if prt.pack_id == pack_val.id %}
						        {{pack_val.name}}
						    	{%endif%}
						    	{%endfor%}</td>
						    	<td class="">{{prt.weight}}</td>
						    	<td class="">{{prt.mat_code}}</td>
						    	<td class="">{{prt.actual_price}}</td>
						    	<td class="">{{prt.offer_price}}</td>
						        <td class="">{% if prt.status == 1 %} Active
										{% elif prt.status == 2 %} In Active
									{% endif %}</td>
						        <td class="">{{prt.created_on|date:'m/d/Y'}}</td>
						        
						        <td class="">
						        	{% for val in user_pro_details %}
						        	{% if prt.created_by == val.user_id %}
						        {{val.first_name}}&nbsp;{{val.last_name}}
						    	{%endif%}
						    	{%endfor%}
						    	</td>
						    	
						        <td class=""><h5>
								<a href="/product_edit/{{prt.id}}" title="Edit" style="color:black"><i class="icon icon-edit"></i></a> &nbsp;&nbsp;
								<a href="/product_view/{{prt.id}}" title="Viwe" style="color:black"><i class="icon icon-eye"></i></a> &nbsp;&nbsp;
								<a href="javascript:voide(0)" title="Delete" onclick="delete_data({{prt.id}})" style="color:black" ><i class="icon icon-trash"></i></a> 
										&nbsp;&nbsp;
								</h5>
								</td>
						      </tr>
						      {%endfor%}<!-- END TR-->
						    
						    </tbody>
						  </table>
					
					  </div>
    			</div>
    		</div>
			
			
			{% if product_data|length > 0 %}
			<div class="row mt-5">
				<div class="dataTables_info" style="color:black">Showing <b>{{startRec}}</b>  to <b>{{endRec}}</b>  of <b>{{tatal_rec}}</b> Records</div>
				<div class="col text-right">
					<div class="block-27">
					  <ul>
						<li class=" {% if varPageNo == 1 %}disabled{% endif %}">
							<a  href="javascript:void(0);" onClick="setPrevious('min');" tabindex="-1">&lt;</a>
						</li>
						{% for i in total_pages %}
						<li class=" {% if forloop.counter == varPageNo %}active{% endif %}" ><a href="javascript:void(0)" onclick="processPage({{ forloop.counter }});">{{ forloop.counter }}</a></li>
						{% endfor %}
						<li class=" {% if varPageNo == total_no %}disabled{% endif %}">
							<a href="javascript:void(0);" onClick="setPrevious('plus');">&gt;</a>
						</li>
					  </ul>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
</form>
	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    </section>
<div class="modal" id="confirmModal" style=" -webkit-transition: 0.5s;">
		<div class="modal-dialog">
			<div class="modal-content">
		  
				<div class="modal-header">
				  <h4 class="modal-title">Confirmation!</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<center>
					<h4>Are you want to delete?</h4>
					<a style="color:white" href="" id ="delete_link"class="btn btn-sm bg-success">
						<b>Yes</b>
					</a>&nbsp;&nbsp;
					<button type="button" style="color:white"class="btn btn-sm bg-danger" data-dismiss="modal"><b>No</b></button>
					</center>
					<i class=""></i>
				
				</div>
			</div>
		</div>
	</div>
  
<script>
  function delete_data(id){
		$('#confirmModal').modal('show');
		document.getElementById("delete_link").href = "/product_delete/"+id;
	}
	
 
	function processPage(page_no){
		document.getElementById('varPageNo').setAttribute('value', page_no);
		document.myform.submit();				
	}
	
	function setPrevious(action)
	{	
		var pageNumObj = document.getElementById('varPageNo');
		
		var status = false;
		switch(action)
		{
			case "plus":
				
					var newPageNum = parseInt(pageNumObj.value) + parseInt(1);
					status = true;
				
			break;
			case "min":
				
					var newPageNum = parseInt(pageNumObj.value) - parseInt(1);
					status = true;
				
			break;
			default:
				var newPageNum = 1;
		}
		
		if(status)
		{
			document.getElementById('varPageNo').setAttribute('value', newPageNum);
			document.myform.submit();
		}	
	}
	
	function processRecordsCount()
	{	
		document.getElementById('varPageNo').setAttribute('value', '1');
		document.myform.submit();					
	}
	
	
	function processSorting(column_name){
	
		var current_sort=document.getElementById('varSortOrder').value;
	
		if(current_sort == "ASC"){
			new_sort="DESC";
		}
		else if(current_sort == "DESC"){
			new_sort="ASC";
		}
	
		document.getElementById('varSortCol').setAttribute('value', column_name);
		document.getElementById('varSortOrder').setAttribute('value', new_sort);
		document.myform.submit();
	}
	</script>
    {% endblock %}
