{% extends 'base.html' %}
{% block content %}
	{% load static %}
<div class="container">
	<div class="row no-gutters slider-text align-items-center justify-content-center">
		<div class="col-md-12 ftco-animate text-center">
			<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>cart</span></p>
			<h1 class="mb-0 bread">Billing & Shipping address</h1> 
		</div>
	</div>
</div>
 <form name="address_form" action="/order_confirmation/" class="bg-white p-5 contact-form" method="POST"> {% csrf_token %}
<section class="ftco-section contact-section bg-light">
	<div class="container">    
		<div class="row block-9">
			<div class="col-md-12 order-md-last d-flex">
				<div class="bg-white" style="width: 100%;padding: 2%">
					<div class="invoice-item">
						<div class="row">
							<div class="col-md-6">
								<div class="invoice-info">
									<h4 style="text-align: center"><strong class="customer-text" style="color:#82ae46;">Billing Address</strong></h4>
									
									<br>
									{% if user_address %}
									
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: center">Select Address</label>
										<label class="col-md-6">
										<select onchange="change_address(this.value)">
											<option value="0" >--Select address title--</option>
											{%for address in user_address %}
											<option value="{{address.id}}" {%if default_address.id == address.id %} selected {%endif%}>{{address.title}}</option>
											{%endfor%}
										</select>
										</label>
									</div>
									{%endif%}
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right" style="text-align: right">Address Line 1<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="bill_address1_err" style="color:red"></div>
											<input type="text" name="bill_address1"  id="bill_address1" class="form-control" value="{{default_address.address1}}" autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Address Line 2</label>

										<label class="col-md-6">
											<div id="bill_address2_err" style="color:red"></div>
											<input type="text" name="bill_address2"  id="bill_address2" class="form-control" value="{{default_address.address2}}" autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">City<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="bill_city_err" style="color:red"></div>
											<input type="text" name="bill_city"  id="bill_city" class="form-control" value="{{default_address.city}}"  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">State<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="bill_state_err" style="color:red"></div>
											<input type="text" name="bill_state" id="bill_state" class="form-control"  value="{{default_address.state}}"  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Postal Code<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="bill_postal_code_err" style="color:red"></div>
											<input type="text" name="bill_postal_code" id="bill_postal_code" class="form-control"  value="{{default_address.post_code}}" autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Country<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="bill_country_err" style="color:red"></div>
											<input type="text" name="bill_country" id="bill_country" class="form-control" value="{{default_address.country}}"  autocomplete="off">
										</label>
									</div>
									  
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Mobile Number<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="bill_mobile_number_err" style="color:red"></div>
											<input type="text" id="bill_mobile_number" name="bill_mobile_number" class="form-control" value="{{default_address.mobile}}"  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Land Mark</label>
										<label class="col-md-6">
											
											<input type="text" name="bill_land_mark"id="bill_land_mark" class="form-control" value="{{default_address.land_mark}}"  autocomplete="off">
										</label>
									</div>
									
								</div>
							</div>
							<div class="col-md-6" >
								<div class="invoice-info invoice-info2">
									
									<h4 style="text-align: center"><strong class="customer-text" style="color:#82ae46;">Shipping Address</strong></h4>
									<br>
									<div style="text-align: center">
									  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="same_as_billing" value="1" onclick="copy_billing_address()" class="form-check-input">Same as Billing Address</label>
									
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right" style="text-align: right">Address Line 1<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="ship_address1_err" style="color:red"></div>
											<input type="text" name="ship_address1"  id="ship_address1" class="form-control" value=""  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Address Line 2</label>

										<label class="col-md-6">
											<div id="ship_address2_err" style="color:red"></div>
											<input type="text" name="ship_address2"  id="ship_address2" class="form-control"  value="" autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">City<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="ship_city_err" style="color:red"></div>
											<input type="text" name="ship_city"  id="ship_city" class="form-control" value=""  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">State<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="ship_state_err" style="color:red"></div>
											<input type="text" name="ship_state" id="ship_state" class="form-control" value=""  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Postal Code<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="ship_postal_code_err" style="color:red"></div>
											<input type="text" name="ship_postal_code" id="ship_postal_code" class="form-control" value=""  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Country<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="ship_country_err" style="color:red"></div>
											<input type="text" name="ship_country" id="ship_country" class="form-control" value=""  autocomplete="off">
										</label>
									</div>
									  
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Mobile Number<span style="color:red">*</span></label>
										<label class="col-md-6">
											<div id="ship_mobile_number_err" style="color:red"></div>
											<input type="text" id="ship_mobile_number" name="ship_mobile_number" class="form-control" value=""  autocomplete="off">
										</label>
									</div>
									<div class="form-group">
										<label class="mr-3 col-md-4" style="text-align: right">Land Mark</label>
										<label class="col-md-6">
											<input type="text" name="ship_land_mark"id="ship_land_mark" class="form-control" value=""  autocomplete="off">
										</label>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<center>
						<div class="submit-section submit-btn-bottom">
							<div class="form-group ">

							<!-- <input type="submit" value="Submit" class="btn btn-primary py-3 px-5"> -->
							<!-- <a href="/order_confirmation" class="btn btn-primary py-3 px-5" onclick="load_login_modal()">Continue</a> -->
							<a href="javascript:void(0)" class="btn btn-primary py-3 px-5" onclick="check_address_and_submit()">Continue</a>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>
</section>
</form>

<script>
function copy_billing_address(){
	var bill_address1 = document.getElementById("bill_address1").value;
	var bill_address2 = document.getElementById("bill_address2").value;
	var bill_city = document.getElementById("bill_city").value;
	var bill_state = document.getElementById("bill_state").value;
	var bill_postal_code = document.getElementById("bill_postal_code").value;
	var bill_country = document.getElementById("bill_country").value;
	var bill_mobile_number = document.getElementById("bill_mobile_number").value;
	var bill_land_mark = document.getElementById("bill_land_mark").value; 
	
	if (document.getElementById("same_as_billing").checked == true){
		
		document.getElementById("ship_address1").value = bill_address1
		document.getElementById("ship_address2").value = bill_address2
		document.getElementById("ship_city").value = bill_city
		document.getElementById("ship_state").value = bill_state
		document.getElementById("ship_postal_code").value = bill_postal_code
		document.getElementById("ship_country").value = bill_country
		document.getElementById("ship_mobile_number").value = bill_mobile_number
		document.getElementById("ship_land_mark").value = bill_land_mark
		
	}else{
	
		document.getElementById("ship_address1").value = ""
		document.getElementById("ship_address2").value = ""
		document.getElementById("ship_city").value = ""
		document.getElementById("ship_state").value = ""
		document.getElementById("ship_postal_code").value = ""
		document.getElementById("ship_country").value = ""
		document.getElementById("ship_mobile_number").value = ""
		document.getElementById("ship_land_mark").value = ""
	}
}
function change_address(id){
window.location.href = "/confirm_address/"+id;
}
function check_address_and_submit(){
	
	document.getElementById("bill_address1_err").innerHTML = ""
	document.getElementById("bill_address2_err").innerHTML = ""
	document.getElementById("bill_city_err").innerHTML = ""
	document.getElementById("bill_state_err").innerHTML = ""
	document.getElementById("bill_postal_code_err").innerHTML = ""
	document.getElementById("bill_country_err").innerHTML = ""
	document.getElementById("bill_mobile_number_err").innerHTML = ""
	document.getElementById("ship_address1_err").innerHTML = ""
	document.getElementById("ship_address2_err").innerHTML = ""
	document.getElementById("ship_city_err").innerHTML = ""
	document.getElementById("ship_state_err").innerHTML = ""
	document.getElementById("ship_postal_code_err").innerHTML = ""
	document.getElementById("ship_country_err").innerHTML = ""
	document.getElementById("ship_mobile_number_err").innerHTML = ""
	
	var bill_address1 = document.getElementById("bill_address1").value;
	var bill_address2 = document.getElementById("bill_address2").value;
	var bill_city = document.getElementById("bill_city").value;
	var bill_state = document.getElementById("bill_state").value;
	var bill_postal_code = document.getElementById("bill_postal_code").value;
	var bill_country = document.getElementById("bill_country").value;
	var bill_mobile_number = document.getElementById("bill_mobile_number").value;
	var bill_land_mark = document.getElementById("bill_land_mark").value; 
		
	var ship_address1 = document.getElementById("ship_address1").value
	var ship_address2 = document.getElementById("ship_address2").value
	var ship_city = document.getElementById("ship_city").value
	var ship_state = document.getElementById("ship_state").value
	var ship_postal_code = document.getElementById("ship_postal_code").value
	var ship_country = document.getElementById("ship_country").value
	var ship_mobile_number = document.getElementById("ship_mobile_number").value 
	var ship_land_mark = document.getElementById("ship_land_mark").value
	
	var error_flag = 0
	if (bill_address1 == ""){
		document.getElementById("bill_address1_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (bill_address2 == ""){
		document.getElementById("bill_address2_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (bill_city == ""){
		document.getElementById("bill_city_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (bill_state == ""){
		document.getElementById("bill_state_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (bill_postal_code == ""){
		document.getElementById("bill_postal_code_err").innerHTML ="This field is required"
		error_flag = 1
	}
	
	
	if (bill_country == ""){
		document.getElementById("bill_country_err").innerHTML ="This field is required"
		error_flag = 1
	}
	
	if (bill_mobile_number == ""){
		document.getElementById("bill_mobile_number_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (ship_address1 == ""){
		document.getElementById("ship_address1_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (ship_address2 == ""){
		document.getElementById("ship_address2_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (ship_city == ""){
	
		document.getElementById("ship_city_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (ship_state == ""){
		document.getElementById("ship_state_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (ship_postal_code == ""){
		document.getElementById("ship_postal_code_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	
	if (ship_country == ""){
		document.getElementById("ship_country_err").innerHTML = "This field is required"
		error_flag = 1
	}
	
	if (ship_mobile_number == ""){
		document.getElementById("ship_mobile_number_err").innerHTML ="This field is required"
		error_flag = 1
	}
	
	if (error_flag == 0){
	
		document.address_form.submit();
	}
}
</script>
{% endblock %}	

