{% extends 'base.html' %}
{% block content %}
	{% load static %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>
	
    <section class="ftco-section ftco-cart" >
		<div class="container">
			<table width="100%" >
				{% if messages %}
				<div class="alert alert-success" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				 {% for message in messages %}
					{{ message }}
				{% endfor %}
				</div>
				{% endif %}
			</table>
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div class="cart-list">
						<table class="table">
							<thead class="thead-primary">
							  <tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>

								<th>Total</th>
								<th>Subscription</th>
							  </tr>
							</thead>
							{%if cart_array %}
							<tbody >
							{%for key,cart_val in cart_array.items %}

								<tr class="text-center">
								<td class="product-remove"><a href="/item_remove/{{cart_val.id}}" title="Remove"><span class="ion-ios-close"></span></a></td>

								<td class="image-prod"><div class="img" style="background-image:url({{cart_val.image}})"></div></td>

								<td class="product-name">
								<h3>{{cart_val.name}}</h3>

								</td>

								<td class="price">
								{%if cart_val.offer_price %}
								€ {{cart_val.offer_price}}
								{%else %}
								€ {{cart_val.actual_price}}
								{%endif%}
								</td>

								<td class="quantity">
									<table>
										<tr>
											<td>
												
											
									
								<div class="input-group mb-3">
									<form method="POST" action="/item_update" name="">
									{% csrf_token %}
							 		 <input type="hidden" name="product_id" value="{{cart_val.id}}"/>
							 		 <td style="border-bottom: 0px solid rgba(0, 0, 0, 0.05) !important;"><input class="form-control" type="number" name="quantity" id="quantity" value="{{cart_val.qty}}" /></td>
							 		 <td style="border-bottom: 0px solid rgba(0, 0, 0, 0.05) !important;"><center><button class="" type="submit" name="update_qty" style="width: 168%;color:none;height: 0px!important;
    									text-align: center;
    									border:0px solid rgba(0, 0, 0, 0) !important; color: #FFF	 !important; font-size: 14px;" title="Quantity Update"><h6><i class="icon icon-refresh"  class="btn" type="submit" name="update_qty"></i></h6></button></center>
							 		 </td>
							 		 

									</form>
								<!--<input type="text" name="quantity" class="quantity form-control input-number" value="{{cart_val.qty}}" min="1" max="100">-->
								</div>
								</td>
								</tr>
									</table>
								</td>


								<td class="total">
								€ {{cart_val.total}}
								</td>
								<td>
									<table>
										<tr>
											<td>
												
											
									
								<div class="input-group mb-3">
									<form method="POST" action="/subscription_update" name="">
									{% csrf_token %}
							 		 <input type="hidden" name="product_id" value="{{cart_val.product_id}}"/>
							 		 <td style="border-bottom: 0px solid rgba(0, 0, 0, 0.05) !important;"><input class="form-control" type="number" name="subscription" id="subscription" value="{{cart_val.subscription}}" /></td>
							 		 <td style="border-bottom: 0px solid rgba(0, 0, 0, 0.05) !important;"><center><button class="" type="submit" name="update_subs" style="width: 168%;color:none;height: 0px!important;
    									text-align: center;
    									border:0px solid rgba(0, 0, 0, 0) !important; color: #FFF	 !important; font-size: 14px;" title="subscription Update"><h6><i class="icon icon-refresh"  class="btn" type="submit" name="update_subs"></i></h6></button></center>
							 		 </td>
							 		 

									</form>
								
								</div>
								</td>
								</tr>
									</table>
  
								</td>
								</tr><!-- END TR-->
								{%endfor%}
							</tbody>
							
							{%else%}
							<tbody>
								<tr>
									<td colspan="6" style="color:red">No data found</td>
								</tr>
							</tbody>
							
							{%endif%}
						  </table>
					  </div>
				</div>
			</div>
			<form action="" method="POST" >
		{% csrf_token %}
			{%if cart_array %}
			<div class="row justify-content-end">
				<div class="col-lg-4 mt-5 cart-wrap ftco-animate ">
					<div class="cart-total mb-3">
						<h3>Coupon Code {%if request.session.cart_coupon_code  %} : {{request.session.cart_coupon_code }} <input type="hidden" name="remove_coupon_code" value="remove" class="form-control text-left px-3" >{%endif%}</h3>
						
						{%if not request.session.cart_coupon_code %}
							<p>Enter your coupon code if you have one</p>
							
							<div class="form-group">
								<label for="">Coupon code</label><br>
								<span style="color:red">{{coupon_error}}</span>
								<input type="text" name="coupon_code" value="{%if coupon_code %}{{coupon_code}} {%else%} {{request.session.cart_coupon_code }}{%endif%}"class="form-control text-left px-3" >
							</div>
						{%endif%}
					</div>
					{%if not request.session.cart_coupon_code %}
					<p><button type="submit" class="btn btn-info py-3 px-4"><span  style="color:white"><b>Apply Coupon</b></span></button></p>
					{%else%}
						
						<p><button type="submit" class="btn btn-info py-3 px-4"><span  style="color:white"><b>Remove Coupon</b></span></button></p>
					{%endif%}
				</div>
			</form>
				
				<div class="col-lg-4 mt-5 cart-wrap ftco-animate"></div>
				
				<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
					<div class="cart-total mb-3">
						<h3>Cart Totals</h3>
						<p class="d-flex">
							<span>Subtotal</span>
							<span>€ {{amount_info.sub_total}}</span>
						</p>
						<p class="d-flex">
							<span>Delivery</span>
							<span>€ {{amount_info.delivery_charge}}</span>
						</p>
						<p class="d-flex">
							<span>Discount</span>
							<span>€ {{amount_info.discount_amt}}</span>
						</p>
						<hr>
						<p class="d-flex total-price">
							<span>Total</span>
							<span>€ {{amount_info.over_all_total}}</span>
						</p>
					</div>
					{%if request.session.loggedin_user_id %}
						<p><a href="/confirm_address/0" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
					{%else%}
						<p><a href="javascript:void(0)" class="btn btn-primary py-3 px-4" onclick="load_login_modal()">Proceed to Checkout</a></p>
					{%endif%}
					
				</div>
			</div>
			{%endif%}
			
		</div>
	</section>
	</form>
		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <!-- <div class="container py-4"> -->
        <!-- <div class="row d-flex justify-content-center py-5"> -->
          <!-- <div class="col-md-6"> -->
          	<!-- <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2> -->
          	<!-- <span>Get e-mail updates about our latest shops and special offers</span> -->
          <!-- </div> -->
          <!-- <div class="col-md-6 d-flex align-items-center"> -->
            <!-- <form action="#" class="subscribe-form"> -->
              <!-- <div class="form-group d-flex"> -->
                <!-- <input type="text" class="form-control" placeholder="Enter email address"> -->
                <!-- <input type="submit" value="Subscribe" class="submit px-3"> -->
              <!-- </div> -->
            <!-- </form> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </section>
	<div class="modal" id="loginModal" style=" -webkit-transition: 0.5s;" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
		  
				<div class="modal-header">
				  <h4 class="modal-title">Login!</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body"> <h6 id="login_msg"></h6>
					<div class="form-group">
						<label class="mr-3 col-md-3" style="text-align: right;color:black">Email<span style="color:red">*</span></label>
						<label class="col-md-7">
							<input type="text" name="email" id="email" class="form-control" value=""  autocomplete="off">
						</label>
					</div>
					<div class="form-group" id="password_sec" style="display:none">
						<label class="mr-3 col-md-3" style="text-align: right">Password<span style="color:red">*</span></label>
						<label class="col-md-7">
							<input type="password" name="password" id="password" class="form-control" value=""  autocomplete="off">
						</label>
					</div>
					<center>
						<button type="button" id="submit_btn" style="color:white;display:block"class="btn btn-sm bg-primary" onclick="email_submit(1)"><b>Submit</b></button>
						<button type="button" id="login_btn" style="color:white;display:none"class="btn btn-sm bg-primary" onclick="email_submit(2)"><b>Login</b></button>
					</center>
					<i class=""></i>
				
				</div>
			</div>
		</div>
	</div>	
	<div class="modal fade" id="{{cart_val.id}}" role="dialog">
		<div class="modal-dialog modal-sm">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Add a Subscription</h4>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<form method="POST" action="/subcribe_update" name="">
					{% csrf_token %}
					  <input type="text" name="product_id" value="{{cart_val.id}}"/>
					 <input class="form-control" type="number" name="subscription" id="subscription" value=0 />
					 <center>
						<button type="button" style="color:white"class="btn btn-sm bg-primary"><b>Add</b></button>
						</center>
					  </td>
					  

					</form>
				<!--<input type="text" name="quantity" class="quantity form-control input-number" value="{{cart_val.qty}}" min="1" max="100">-->
				</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>
<script>
	function load_login_modal(id){

		$('#loginModal').modal('show');
	}
function email_submit(flag){
	document.getElementById("login_msg").innerHTML=""
	if (flag == 1){
		var password=""
	}
	else if (flag == 2){
		var password = document.getElementById("password").value;
	}
	var email = document.getElementById("email").value;
	var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
	var atposition=email.indexOf("@");  
	var dotposition=email.lastIndexOf(".");  
	
	if (email != ""){
	
		if(mailformat.test(email))
		{	
			if (atposition<1 || dotposition<atposition+2 || dotposition+2>=email.length){
				document.getElementById("login_msg").innerHTML="<span style='color:red'>Enter valid email</span>"
			}else{
				$.ajax({
					url:"/get_user_data/",
					data:{	
							email:email,
							password:password,
							csrfmiddlewaretoken: '{{ csrf_token }}'},
					type:"POST",
					dataType: 'json',
					success:function(data)
					{
						if (data.user_flag == 1){
							document.getElementById("password_sec").style.display ="block";
							document.getElementById("login_btn").style.display ="block";
							document.getElementById("submit_btn").style.display ="none";
						}
						if (data.common_error != ""){
							document.getElementById("login_msg").innerHTML ="<span style='color:red'>"+	 data.common_error+"</span>"
						}
						if (data.redirect != ""){
							window.location.href = data.redirect;
						}
					}
				});
			}
		}else{
			document.getElementById("login_msg").innerHTML="<span style='color:red'>Enter valid email</span>"
		}
	}
	else{
		document.getElementById("login_msg").innerHTML="<span style='color:red'>Please enter email</span>"
	}

}


</script>
  {% endblock %}
  