{% extends 'base.html' %}
{% block content %}
	{% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>Orders</span></p>
            <h1 class="mb-0 bread">Order view</h1> 
          </div>
        </div>
      </div>
     
      	<div class="container">    
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">

          	<div class="bg-white" style="width: 100%;padding: 2%">
          				<h5 style="color:#82ae46;">
							<strong>
								Status :
									
								{% if order_info.status == 1 %}
								New
								{% elif order_info.status == 2 %}
								Shipped
								{% elif order_info.status == 3 %}
								Closed
								{% elif order_info.status == 4 %}
								Cancelled
								{% elif order_info.status == 5 %}
								Return
								{%endif%}
							</strong>
                                {% if order_info.status == 1 %}
                                <span style="float: right"><a href="/order_status_update/{{order_info.id}}/4" class="btn btn-danger">Cancel</a></span>
                                {% elif order_info.status == 3 and request.session.loggedin_user_type == 'CUSTOMER' %}
                                    
                                <span style="float: right"><a href="/order_status_update/{{order_info.id}}/5" class="btn btn-danger">Return</a></span>
                                     
                                {% elif order_info.status == 2 and request.session.loggedin_user_type == 'EMPLOYEE' %}
                                <span style="float: right"><a href="/order_status_update/{{order_info.id}}/3" class="btn btn-danger">Close</a></span>
                                
                                {%endif%}
                                
                                
						</h5>

                        <br>
          				<div class="invoice-item" style="color:black">
							<div class="row">
								<div class="col-md-6">
									<div class="invoice-info">
										<h4><strong class="customer-text" style="color:#82ae46;">Billing Address</strong></h4>
										<p>
											{{billing_address.address1}} {%if billing_address.address2 %},{{billing_address.address2}} {%endif%} , <br>
											{{billing_address.city}} - {{billing_address.postal_code}},<br>
											{{billing_address.state}} ,{{billing_address.country}},<br>
											{%if billing_address.land_mark %}{{billing_address.land_mark}},<br> {%endif%}
											{{billing_address.mobile}}
										</p>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="invoice-info invoice-info2" style="float: right">
										<h4><strong class="customer-text" style="color:#82ae46;">Shipping Address</strong></h4>
										<p>
											{{shipping_address.address1}} {%if shipping_address.address2 %},{{shipping_address.address2}} {%endif%} , <br>
											{{shipping_address.city}} - {{shipping_address.postal_code}},<br>
											{{shipping_address.state}} ,{{shipping_address.country}},<br>
											{%if shipping_address.land_mark %}{{shipping_address.land_mark}},<br> {%endif%}
											{{shipping_address.mobile}}
											
										</p>
									</div>
								</div>
							</div>
						</div>
          		
						

          </div>
      </div>
  </div>

        <div class="row block-9">

          <div class="col-md-12 order-md-last d-flex">
          	<div class="bg-white" style="width: 100%;padding: 2%">
          		<h5 style="color: #82ae46;"><strong>Product Details</strong></h5><br>
          		<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						      
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
							{%for product_val in products_details %}
						      <tr class="text-center">   
						        <td class="image-prod"><div class="img" style="background-image:url({{product_val.image}});"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{product_val.prd_name}}</h3>
						        
						        </td>
						        
						        <td class="price">
							
								€ {{product_val.prd_price}}
								</td>
						        
						        <td class="price">
						        	
									{{product_val.prd_qty}}
					          
					          </td>
						        
						        <td class="total">€ {{product_val.prd_price}}</td>
						      </tr><!-- END TR-->
							{%endfor%}
						    </tbody>
						  </table>
						{%if coupon_details %}	
    					<h5 style="color:#82ae46;"><strong>Coupon Code : {{coupon_details.coupon_title}}</strong></h5>
    					
						{%endif%}
                        <table width="100%" >
                {% if messages %}
                <div class="alert alert-success" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
                {% endif %}
            </table>

			<div class="row justify-content-end">
    			<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3" style="color:black">
                        <form action=""  method="post"> 
                        {% csrf_token %}
                        <h3 style="color: #82ae46;"><strong>Shipping Details</strong></h3>
                        {%if request.session.loggedin_user_type == 'CUSTOMER'%}
                        <p class="d-flex">
                            <span>Shipping Date :</span>
                              
                            <span>{{shipped_vals.shipped_date|date:'m/d/Y'|default:''}}</span>
                        </p>
                        
                        <p class="d-flex">
                            <span>In-hand Date : </span>
                            
                             <span>{{shipped_vals.in_hand_date|date:'m/d/Y'|default:''}}</span>
                        </p>
                        
                        <p class="d-flex">
                            <span>Shipping Method:</span>
                            
                              <span>{{shipped_vals.shipping_method_id|default:''}}</span>  

                          
                            
                        </p>
                        
                        <p class="d-flex ">
                            <span>Tracking Number : </span>
                            
                            <span>{{shipped_vals.tracking_numbers|default:''}}</span>
                        </p>

                        
                        {%else%}
                        {% if forms.shipped_date.errors %}
                        <div  style="color:red;text-align: left">{{ forms.shipped_date.errors }}</div>
                              {% endif %}
                        <p class="d-flex ">
                            <span>Shipped Date : </span>
                        
                             <input type="text" name="shipped_date" id=shipped_date class="form-control datepicker" autocomplete="off" 
                             value="{%if forms.shipped_date.value %}{{forms.shipped_date.value|default:""}} {%else%}{{shipped_vals.shipped_date|date:'m/d/Y'|default:""}}{%endif%}">
                        </p>
                        {% if forms.in_hand_date.errors %}
                                <div  style="color:red;text-align: left">{{ forms.in_hand_date.errors }}</div>
                              {% endif %}
                        <p class="d-flex">
                            <span>In-hand Date : </span>
                            
                             <input type="text" name="in_hand_date" id=in_hand_date class="form-control datepicker" autocomplete="off"  value="{%if forms.in_hand_date.value %}{{forms.in_hand_date.value|default:""}} {%else%}{{shipped_vals.in_hand_date|date:'m/d/Y'|default:""}}{%endif%}">
                        </p>
                        {% if forms.shipping_method_id.errors %}
                            <div style="color:red;text-align: left">{{ forms.shipping_method_id.errors }}</div>
                          {% endif %}
                        <p class="d-flex">
                            <span>Shipping Method:</span>
                            
                                

                          <select name="shipping_method_id" id="" class="form-control">
                            <option value="">-Select Courier-</option>
                            <option value="1">test1</option>
                            <option value="2">test2</option>
                            <option value="3">test3</option>
                            
                                </select>
                            
                        </p>
                        {% if forms.tracking_numbers.errors %}
                                <div  style="color:red;text-align: left">{{ forms.tracking_numbers.errors }}</div>
                              {% endif %}
                        
                        <p class="d-flex">
                            <span>Tracking Number : </span>
                            
                             <input type="text" name="tracking_numbers" id=tracking_numbers class="form-control" autocomplete="off"  value="{%if forms.tracking_numbers.value %}{{forms.tracking_numbers.value|default:""}} {%else%}{{shipped_vals.tracking_numbers|default:""}}{%endif%}">
                        </p>
                        {%endif%}
                        {%if request.session.loggedin_user_type != 'CUSTOMER' %}
    					<p class="d-flex total-price">
                            
    						<button type="submit" class="
                            btn btn-primary">Update
    						</button>
    					</p>
                        {%endif%}

                    </form>
    				</div>
    				
    			</div>
    			<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3 style="color: #82ae46;"><strong>Order Totals</strong></h3>
    					<p class="d-flex " style="color:black">
    						<span>Subtotal</span>
    						<span>€ {{sub_total}}</span>
    					</p>
    					<p class="d-flex" style="color:black">
    						<span>Delivery</span>
    						<span>€ {% if order_info.shipping_cost %}{{order_info.shipping_cost}}{%else%} 0 {%endif%} </span>
    					</p>
    					<p class="d-flex" style="color:black">
    						<span>Discount</span>
    						<span>€ {% if order_info.discount_cost %}{{order_info.discount_cost}}{%else%} 0 {%endif%}</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price" style="color:black">
    						<span>Total</span>
    						<span>€ {{order_info.total}}</span>
    					</p>
    				</div>
    				
    			</div>

				<!-- <div class="col-lg-12 mt-5 cart-wrap ftco-animate"> -->
    				<!-- <div class="cart-total mb-3"> -->
    					<!-- <h3 style="color: #82ae46;margin-bottom: 0.1rem;"><strong>Shipping Details</strong></h3><br> -->
    					<!-- <p class="d-flex"> -->
    						<!-- <span style="width: 12%;text-align: left" ><strong>Shipping Date : </strong></span>&nbsp; -->
    						<!-- <span>29, Sept. 2020</span> -->
    					<!-- </p> -->
    					<!-- <p class="d-flex"> -->
    						<!-- <span style="width: 12%;margin-bottom: 0.1rem;text-align: left"><strong>Inhand Date : </strong></span> -->
    						<!-- <span>29, Sept. 2020</span> -->
    					<!-- </p> -->
    					<!-- <p class="d-flex"> -->
    						<!-- <span style="width: 12%;margin-bottom: 0.1rem;text-align: left"><strong>Courier Name : </strong></span>&nbsp; -->
    						<!-- <span>Professional</span> -->
    					<!-- </p> -->
    					<!-- <p class="d-flex"> -->
    						<!-- <span style="width: 14%;margin-bottom: 0.1rem;text-align: left"><strong>Tracking Number : </strong></span>&nbsp; -->
    						<!-- <span>88774510654</span> -->
    					<!-- </p> -->
    					
    				<!-- </div> -->
    				
    			<!-- </div> -->

    		</div><br>
    		<center>
					<div class="submit-section submit-btn-bottom">
              <div class="form-group ">
                 
                <!-- <input type="submit" value="Proceed" class="btn btn-primary py-3 px-5"> -->
                <a href="/order_list" class="btn btn-danger py-3 px-5">Back</a>
              </div>
			       </div>
			       </center>
			</div>

			</div>
		</div>
	</div>
{% endblock %}