{% extends 'base.html' %}
{% block content %}
	{% load static %}
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-center">
  <div class="col-md-12 ftco-animate text-center">
	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>Product</span></p>
	<h1 class="mb-0 bread">Order Confirmation</h1> 
  </div>
</div>
</div>
 <form action="/create_order/" class="bg-white p-5 contact-form" method="POST"> {% csrf_token %}
<section class="ftco-section contact-section bg-light">
      <div class="container">    
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">
          	<div class="bg-white" style="width: 100%;padding: 2%">
          		
				<div class="invoice-item">
					<div class="row">
						<div class="col-md-6">
							<div class="invoice-info">
								<h4><strong class="customer-text" style="color:#82ae46;">Billing Address</strong></h4>
								<p>
							
									{{billing_address_info.bill_address1}} {%if billing_address_info.bill_address2 %} ,{{billing_address_info.bill_address2}} {%endif%},<br>
									{{billing_address_info.bill_city}} - {{billing_address_info.bill_postal_code}} ,<br>
									{{billing_address_info.bill_state}}  , {{billing_address_info.bill_country}} ,<br>
									{%if billing_address_info.bill_land_mark %}
										{{billing_address_info.bill_land_mark}}  , 
									{%endif%}<br>
									{{billing_address_info.bill_mobile_number}} 
							
								</p>
							</div>
						</div>
						<div class="col-md-6" >
							<div class="invoice-info invoice-info2" style="float: right">
								<h4><strong class="customer-text" style="color:#82ae46;">Shipping Address</strong></h4>
								<p>	
									{{shiping_address_info.ship_address1}} {%if shiping_address_info.ship_address2 %} ,{{shiping_address_info.ship_address2}} {%endif%},<br>
									{{shiping_address_info.ship_city}} - {{shiping_address_info.ship_postal_code}} ,<br>
									{{shiping_address_info.ship_state}}  , {{shiping_address_info.ship_country}} ,<br>
									{%if shiping_address_info.ship_land_mark %}
										{{shiping_address_info.ship_land_mark}}  , 
									{%endif%}<br>
									{{shiping_address_info.ship_mobile_number}} 
							
								</p>
							</div>
						</div>
					</div>
				</div>
          </div>
      </div>
  </div>

        <div class="row block-9">

          <div class="col-md-12 order-md-last d-flex">
          	<div class="bg-white" style="width: 100%;padding: 2%">
          		<h5 style="color: #82ae46;"><strong>Product Details</strong></h5><br>
          		<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
								<th>Subscription</th>
						        <th>Total</th>
						      </tr>
						    </thead>
							<tbody >
							{%for key,cart_val in request.session.cart_product_info.items %}

								<tr class="text-center">

								<td class="image-prod"><div class="img" style="background-image:{{cart_val.image}}"></div></td>

								<td class="product-name">
								<h3>{{cart_val.name}}</h3>

								</td>

								<td class="price">
								{%if cart_val.offer_price %}
								€ {{cart_val.offer_price}}
								{%else %}
								€ {{cart_val.actual_price}}
								{%endif%}
								</td>

								<td class="text-center">
								<div class="input-group mb-3">
								{{cart_val.qty}}
								</div>
								</td>
								<td class="text-center">
									<div class="input-group mb-3">
									{{cart_val.subscription}}
									</div>
									</td>

								<td class="total">
								€ {{cart_val.total}}
								</td>
								</tr><!-- END TR-->
								{%endfor%}
							</tbody>
							
							
						  </table>
			<div class="row justify-content-end">
					{%if request.session.cart_coupon_code %}
						<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
							<div class="cart-total mb-3">
								
								
								<h3 style="color:#82ae46;"><strong>Coupon Code : {{request.session.cart_coupon_code}}</strong></h3>
								
								
							</div>
							
						</div>
					{%endif%}
    			<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
					<div class="cart-total mb-3">
						<h3>Cart Totals</h3>
						<p class="d-flex">
							<span>Subtotal</span>
							<span>€ {{request.session.cart_amount_info.sub_total}}</span>
						</p>
						<p class="d-flex">
							<span>Delivery</span>
							<span>€ {{request.session.cart_amount_info.delivery_charge}}</span>
						</p>
						<p class="d-flex">
							<span>Discount</span>
							<span>€ {{request.session.cart_amount_info.discount_amt}}</span>
						</p>
						<hr>
						<p class="d-flex total-price">
							<span>Total</span>
							<span>€ {{request.session.cart_amount_info.over_all_total}}</span>
						</p>
					</div>
    				
    			</div>

    		</div><br>
    		<center>
					<div class="submit-section submit-btn-bottom">
              <div class="form-group ">
                 
                <a href="/cart" class="btn btn-danger py-3 px-5">Cancel</a>
				<input type="submit" value="Proceed" class="btn btn-primary py-3 px-5">
              </div>
			       </div>
			       </center>
			</div>

			</div>
		</div>
	</div>
</section>
</form>

{% endblock %}