{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Subscriptions</span></p>
            <h1 class="mb-0 bread">Subscriptions</h1>
          </div>
        </div>
    </div>

<form method="POST" action ="" name="myform">
	{% csrf_token %}
    <section class="ftco-section contact-section bg-light">
		<div class="container">
			
			{% if messages %}
				<div class="alert alert-success" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				</div>
			{% endif %}
			<table width="100%" > 
				<tr>
				   <td style="padding:10px;color:black">
				   <input id="varPageNo" name="varPageNo" type="hidden" value="{{varPageNo}}">
					  Display 
						 <select  name="count" class="" onchange="processRecordsCount()">
							
							{% for count in rec_count_value %}
							
							   <option value="{{ count }}" {% if count == rec_count %} selected
							   {% endif %}> {{ count|title }}</option>
							{% endfor %}
						 </select> 
						 records
				   </td>
				   
					<!-- <td style="float: right;padding: 2%;">	 -->
						<!-- <button type="submit" name="export" style="float:right;cursor:pointer;" class="btn btn-primary mg-r-5"  style="cursor:pointer;width:80px" title="Export Non Clinical Timesheet Report">Export</button> -->
					<!-- </td> -->
				</tr>
			 </table>
			 
			 <input id="varSortCol" name="varSortCol" type="hidden" value="{{ varSortCol }}">
			<input id="varSortOrder" name="varSortOrder" type="hidden" value="{{ varSortOrder }}">

			{% if varSortOrder == "DESC" %}
				{% firstof "&nbsp;<i class='icon icon-arrow-up'></i>" as coloumnSort %}
			{% else %}
				{% firstof "&nbsp;<i class='icon icon-arrow-down'></i>" as coloumnSort %}
			{% endif %}

			<div class="row" style="overflow: auto;white-space: nowrap;">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table bg-white">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th><a href="javascript:void(0)" onclick="processSorting('id')" style="color:white">Id</a>{% if varSortCol == 'id' %} {{ coloumnSort }} {% endif %} </th>
						        <th><a href="javascript:void(0)" onclick="processSorting('product_id')" style="color:white">Product Id</a>{% if varSortCol == 'product_id' %} {{ coloumnSort }} {% endif %} </th>
						        <th><a href="javascript:void(0)" onclick="processSorting('subscription_month')" style="color:white">Subscription Month</a>{% if varSortCol == 'subscription_month' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('created_on')" style="color:white">Created On</a>{% if varSortCol == 'created_on' %} {{ coloumnSort }} {% endif %} </th>
								
						        <th>Action</th>
						      </tr>
						    </thead>
						    <tbody>
							{%for subs_info in subs_values%}
						      <tr class="text-center" style="color:black">
						        <td style=";"class="">{{subs_info.id|default:""}}</td>
						        <td class="">{% for val in prd_values%}
                                    {% if val.id == subs_info.product_id %}
                                    {{val.name|default:""}}
                                    {% endif %}
                                    {% endfor %}</td>
						        <td class="">{{subs_info.subscription_month|default:0}}</td>
								
						        
						        <td class="">{{subs_info.created_on|date:"m/d/Y"}}</td>
						        <td class=""><h5>
								<!-- <a href="#" title="Add" style="color:black"><i class="icon icon-add"></i></a> &nbsp;&nbsp; -->
								
								<a class="btn btn-info" href="/subs_alter/{{subs_info.id}}"  title="Alter" style="color:black">Alter</a> &nbsp;&nbsp;
                                <a href="/subs_pause/{{subs_info.id}}" class="btn btn-primary" title="View" style="color:black">Pause</a> &nbsp;&nbsp;
                                <a href="/subs_cancel/{{subs_info.id}}" class="btn btn-danger" title="View" style="color:black">Cancel</a> &nbsp;&nbsp;
								
								</h3>
								</td>
								
						      </tr>
							{%endfor%}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			
			
			{% if order_data|length > 0 %}
			<div class="row mt-5">
				<div class="dataTables_info" style="color:black">Showing <b>{{startRec}}</b>  to <b>{{endRec}}</b>  of <b>{{tatal_rec}}</b> Records</div>
				<div class="col text-right">
					<div class="block-27">
					  <ul>
						<li class=" {% if varPageNo == 1 %}disabled{% endif %}">
							<a  href="javascript:void(0);" onClick="setPrevious('min');" tabindex="-1">&lt;</a>
						</li>
						{% for i in total_pages %}
						<li class=" {% if forloop.counter == varPageNo %}active{% endif %}" ><a href="javascript:void(0)" onclick="processPage({{ forloop.counter }});">{{ forloop.counter }}</a></li>
						{% endfor %}
						<li class=" {% if varPageNo == total_no %}disabled{% endif %}">
							<a href="javascript:void(0);" onClick="setPrevious('plus');">&gt;</a>
						</li>
					  </ul>
					</div>
				</div>
			</div>
			{% endif %}
			
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    </section>
</form>

<script>
function processPage(page_no){
		document.getElementById('varPageNo').setAttribute('value', page_no);
		document.myform.submit();				
}
	
function setPrevious(action){	
		var pageNumObj = document.getElementById('varPageNo');
		
		var status = false;
		switch(action)
		{
			case "plus":
				
					var newPageNum = parseInt(pageNumObj.value) + parseInt(1);
					status = true;
				
			break;
			case "min":
				
					var newPageNum = parseInt(pageNumObj.value) - parseInt(1);
					status = true;
				
			break;
			default:
				var newPageNum = 1;
		}
		
		if(status)
		{
			document.getElementById('varPageNo').setAttribute('value', newPageNum);
			document.myform.submit();
		}	
	}
	
	function processRecordsCount()
	{	
		document.getElementById('varPageNo').setAttribute('value', '1');
		document.myform.submit();					
	}
	
	
	function processSorting(column_name){
	
		var current_sort=document.getElementById('varSortOrder').value;
	
		if(current_sort == "ASC"){
			new_sort="DESC";
		}
		else if(current_sort == "DESC"){
			new_sort="ASC";
		}
	
		document.getElementById('varSortCol').setAttribute('value', column_name);
		document.getElementById('varSortOrder').setAttribute('value', new_sort);
		document.myform.submit();
	}
</script>
  {% endblock %}
  