{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Address</span></p>
            <h1 class="mb-0 bread">Address</h1>
          </div>
        </div>
    </div>

	<form method="POST" action ="" name="myform">
	{% csrf_token %}
    <section class="ftco-section contact-section bg-light">
		<div class="container">
			<div class="row mg-b-25">
				
				<div class="col-lg-4">
					<div class="form-group">
						<input type="text" name="search_keyword" id="search_keyword" style="font-size:14px;"class="form-control" value="{{ search_val.search_keyword|default:"" }}" placeholder="Keyword">
					</div>
                </div>
                
                
				<div class="col-lg-4">
					<div class="form-group">
						<button type="submit" class="btn btn-info mg-r-5"  style="cursor:pointer;width:80px">Search</button>
						<a href="/address_list"  class="btn btn-danger mg-r-5"  style="cursor:pointer;width:80px"> Reset</a>
					
					</div>
				</div>
			</div>

			{% if messages %}
				<div class="alert alert-success" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				</div>
			{% endif %}
			<table width="100%" > 
				<tr>
				   <td style="padding:10px;color:black">
				   <input id="varPageNo" name="varPageNo" type="hidden" value="{{varPageNo}}">
					  Display 
						 <select  name="count" class="" onchange="processRecordsCount()">
							{% for count in rec_count_value %}
							   <option value="{{ count }}" {% if count == rec_count %} selected
							   {% endif %}> {{ count|title }}</option>
							{% endfor %}
						 </select> 
						 records
                   </td>
                   <td style="float: right;padding: 2%;">	
					<a href="/address_add" class="btn btn-primary mg-r-5" style="float:right;">Add Address</a>
				   </td>
					<!-- <td style="float: right;padding: 2%;">	 -->
						<!-- <button type="submit" name="export" style="float:right;cursor:pointer;" class="btn btn-primary mg-r-5"  style="cursor:pointer;width:80px" title="Export Non Clinical Timesheet Report">Export</button> -->
					<!-- </td> -->
				</tr>
			 </table>
			 
			 <input id="varSortCol" name="varSortCol" type="hidden" value="{{ varSortCol }}">
			<input id="varSortOrder" name="varSortOrder" type="hidden" value="{{ varSortOrder }}">

			{% if varSortOrder == "DESC" %}
				{% firstof "&nbsp;<i class='icon icon-arrow-up'></i>" as coloumnSort %}
			{% else %}
				{% firstof "&nbsp;<i class='icon icon-arrow-down'></i>" as coloumnSort %}
			{% endif %}

			<div class="row" style="overflow: auto;white-space: nowrap;">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table bg-white">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        
						        <th><a href="javascript:void(0)" onclick="processSorting('address1')" style="color:white">Address</a>{% if varSortCol == 'address1' %} {{ coloumnSort }} {% endif %} </th>
						        <th><a href="javascript:void(0)" onclick="processSorting('city')" style="color:white">City</a>{% if varSortCol == 'city' %} {{ coloumnSort }} {% endif %} City</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('state')" style="color:white">State</a>{% if varSortCol == 'state' %} {{ coloumnSort }} {% endif %} </th>
						        <th><a href="javascript:void(0)" onclick="processSorting('postal_code')" style="color:white">Post code</a>{% if varSortCol == 'postal_code' %} {{ coloumnSort }} {% endif %} </th>
                                <th><a href="javascript:void(0)" onclick="processSorting('country')" style="color:white">Country</a>{% if varSortCol == 'country' %} {{ coloumnSort }} {% endif %} </th>
                                <th><a href="javascript:void(0)" onclick="processSorting('mobile')" style="color:white">Mobile</a>{% if varSortCol == 'mobile' %} {{ coloumnSort }} {% endif %} </th>
                                <th>Action</th>

						      </tr>
						    </thead>
						    <tbody>
								{%for address_info in address_data%}
									<tr class="text-center" style="color:black">
										<td class="">{{address_info.address1|default:""}} {{address_info.address2|default:""}} </td>
										<td class="">{{address_info.city|default:""}}</td>
										<td class="">{{address_info.state|default:""}}</td>
										<td class="">{{address_info.post_code|default:""}}</td>
										<td class="">{{address_info.country|default:""}}</td>
										<td class="">{{address_info.mobile|default:""}}</td>
										<td class="">
										<h5>
										<a href="/address_edit/{{address_info.id}}" title="Edit" style="color:black"><i class="icon icon-edit"></i></a> &nbsp;&nbsp;
										<a href="/address_view/{{address_info.id}}" title="View" style="color:black"><i class="icon icon-eye"></i></a> &nbsp;&nbsp;
										<a href="javascript:voide(0)" title="Delete" onclick="delete_data({{address_info.id}})" style="color:black" >
											<i class="icon icon-trash"></i>
										</a>&nbsp;&nbsp;
										</h5>
										</td>
									</tr><!-- END TR-->
							  {%endfor%}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			
			
			{% if address_data|length > 0 %}
			<div class="row mt-5">
				<div class="dataTables_info" style="color:black">Showing <b>{{startRec}}</b>  to <b>{{endRec}}</b>  of <b>{{tatal_rec}}</b> Records</div>
				<div class="col text-right">
					<div class="block-27">
					  <ul>
						<li class=" {% if varPageNo == 1 %}disabled{% endif %}">
							<a  href="javascript:void(0);" onClick="setPrevious('min');" tabindex="-1">&lt;</a>
						</li>
						{% for i in total_pages %}
						<li class=" {% if forloop.counter == varPageNo %}active{% endif %}" ><a href="javascript:void(0)" onclick="processPage({{ forloop.counter }});">{{ forloop.counter }}</a></li>
						{% endfor %}
						<li class=" {% if varPageNo == total_no %}disabled{% endif %}">
							<a href="javascript:void(0);" onClick="setPrevious('plus');">&gt;</a>
						</li>
					  </ul>
					</div>
				</div>
			</div>
			{% endif %}
			
			
		</div>
	</section>
	</form>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    </section>
	<div class="modal" id="confirmModal" style=" -webkit-transition: 0.5s;">
		<div class="modal-dialog">
			<div class="modal-content">
		  
				<div class="modal-header">
				  <h4 class="modal-title">Confirmation!</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<center>
					<h4>Are you want to delete?</h4>
					<a style="color:white" href="" id ="delete_link"class="btn btn-sm bg-success">
						<b>Yes</b>
					</a>&nbsp;&nbsp;
					<button type="button" style="color:white"class="btn btn-sm bg-danger" data-dismiss="modal"><b>No</b></button>
					</center>
					<i class=""></i>
				
				</div>
			</div>
		</div>
	</div>
<script>
function delete_data(id){

	$('#confirmModal').modal('show');
	document.getElementById("delete_link").href = "/address_delete/"+id;
}
function processPage(page_no){
		document.getElementById('varPageNo').setAttribute('value', page_no);
		document.myform.submit();				
}
	
function setPrevious(action){	
		var pageNumObj = document.getElementById('varPageNo');
		
		var status = false;
		switch(action)
		{
			case "plus":
				
					var newPageNum = parseInt(pageNumObj.value) + parseInt(1);
					status = true;
				
			break;
			case "min":
				
					var newPageNum = parseInt(pageNumObj.value) - parseInt(1);
					status = true;
				
			break;
			default:
				var newPageNum = 1;
		}
		
		if(status)
		{
			document.getElementById('varPageNo').setAttribute('value', newPageNum);
			document.myform.submit();
		}	
	}
	
	function processRecordsCount()
	{	
		document.getElementById('varPageNo').setAttribute('value', '1');
		document.myform.submit();					
	}
	
	
	function processSorting(column_name){
	
		var current_sort=document.getElementById('varSortOrder').value;
	
		if(current_sort == "ASC"){
			new_sort="DESC";
		}
		else if(current_sort == "DESC"){
			new_sort="ASC";
		}
	
		document.getElementById('varSortCol').setAttribute('value', column_name);
		document.getElementById('varSortOrder').setAttribute('value', new_sort);
		document.myform.submit();
	}
</script>									
  {% endblock %}
  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
    