{% extends 'base.html' %}
{% block content %}
	{% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>Address</span></p>
            <h1 class="mb-0 bread">Edit Address</h1>
          </div>
        </div>
      </div>
	  
    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">
            <form action="" method="POST" class="bg-white p-5 contact-form"> 
			{% csrf_token %}
				<input type="hidden" name="user_id" value="{{request.session.loggedin_user_id}}">
				<input type="hidden" name="edit_address_id" value="">
              <h5 style="padding-left: 90%"><a href="/address_list"class='btn btn-danger' style="color:white;border:1px solid white;">Back</a></h5>
              <center>
              
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>Title</b><span style="color:red">*</span></label>
				<label class="col-md-6">
					<span style="color:red">{{ form.title.errors|striptags|default:"" }}</span>

					 <input type="text" name="title" class="form-control" value="{{form.title.value|default:""}}" autocomplete="off">
					 
				</label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>Address Line 1</b><span style="color:red">*</span></label>
				<label class="col-md-6">
					<span style="color:red">{{ form.address1.errors|striptags|default:"" }}</span>
					<input type="text" name="address1" class="form-control"  value="{{form.address1.value|default:""}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>Address Line 2</b></label>

				<label class="col-md-6">
						 <input type="text" name="address2" class="form-control" value="{{form.address2.value|default:""}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>City</b><span style="color:red">*</span></label>
				<label class="col-md-6">
					<span style="color:red">{{ form.city.errors|striptags|default:"" }}</span>
					<input type="text" name="city" class="form-control" value="{{form.city.value|default:""}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>State</b><span style="color:red">*</span></label>
				<label class="col-md-6">
					<span style="color:red">{{ form.state.errors|striptags|default:"" }}</span>
					<input type="text" name="state" class="form-control" value="{{form.state.value|default:""}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>Postal Code</b><span style="color:red">*</span></label>
				<label class="col-md-6">
					<span style="color:red">{{ form.postal_code.errors|striptags|default:"" }}</span>
					<input type="text" name="postal_code" class="form-control" value="{{form.postal_code.value|default:""}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>Country</b><span style="color:red">*</span></label>
				<label class="col-md-6">
					<span style="color:red">{{ form.country.errors|striptags|default:"" }}</span>
					<input type="text" name="country" class="form-control" value="{{form.country.value|default:""}}" autocomplete="off">
				</label>
              </div>
              
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>Mobile Number</b><span style="color:red">*</span></label>
				<label class="col-md-6">
					<span style="color:red">{{ form.mobile_number.errors|striptags|default:"" }}</span>
					<input type="text" name="mobile_number" class="form-control" value="{{form.mobile_number.value|default:""}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2"style="color:black"><b>Land Mark</b></label>
				<label class="col-md-6">
					
					<input type="text" name="land_mark" class="form-control" value="{{form.land_mark.value|default:""}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
				  <label class="col-md-2" style="color:black"><b>Default</b></label>&nbsp;&nbsp;
				  <label class="col-md-6" style="border:0px solid red">
					<label style="float:left">
					<input type="radio" name="default" value="1" {%if form.default.value == "1"%} checked {%endif%}>&nbsp;&nbsp;Yes
					</label> &nbsp;&nbsp;&nbsp;&nbsp;
					<label style="float:left;padding-left:20px"><input type="radio" name="default" value="2" {%if form.default.value == "2"%} checked {%endif%}>&nbsp;&nbsp;No</label>
				  </label>
              </div>
				<div class="form-group">
					<label class="col-md-2" style="color:black"><b>Status</b> </label>&nbsp;&nbsp;
					<label class="col-md-6" style="border:0px solid red">
					  <label style="float:left">
						<input type="radio" name="status" value="1" {%if form.status.value == "1"%} checked {%endif%} >&nbsp;&nbsp;Active
					  </label> &nbsp;&nbsp;&nbsp;&nbsp;
					  <label style="float:left;padding-left:20px"><input type="radio" name="status" value="2" {%if form.status.value != "1"%} checked {%endif%} >&nbsp;&nbsp;In active</label>
					</label>
				</div>
			    <div class="submit-section submit-btn-bottom" style="padding-right: 23%;">
					<div class="form-group ">
						<span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" value="Add" class="btn btn-info py-3 px-5">
						<a href="/address_add" class="btn btn-danger py-3 px-5">Reset</a>
					</div>
			    </div>
            </form>
          </div>

        </div>
      </div>
    </section>
{% endblock %}
