{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>View Address</span></p>
            <h1 class="mb-0 bread">View Address</h1>
          </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
		<div class="container">

		
			<table width="100%" > 
				<a href="/address_list/" class="btn btn-primary pull-right" style="width:80px;float:right">Back</a>
			 </table>
             <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <p class=" text-sm-right mb-0 mb-sm-3" style="color:black">Address :</p>
                        <p class="col-sm-10">{{address_data.address1|default:""}} {{address_data.address2|default:""}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">City:</p>
                        <p class="col-sm-10">{{address_data.city|default:""}}</p>
                    </div>
                   
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">State:</p>
                        <p class="col-sm-10 mb-0">{{address_data.state|default:""}}</p>
                    </div>
                    
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Post code:</p>
                        <p class="col-sm-10">{{address_data.postal_code|default:""}}</p>
                    </div>
                   
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Country:</p>
                        <p class="col-sm-10">{{address_data.country|default:""}}</p>
                    </div>
                    
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Mobile:</p>
                        <p class="col-sm-10">{{address_data.mobile|default:""}}</p>
                    </div>

                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">LandMark:</p>
                        <p class="col-sm-10">{{address_data.land_mark|default:""}}</p>
                    </div>

                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Default:</p>
                        <p class="col-sm-10">{% if address_data.default == 1 %} Yes {%elif address_data.default == 2 %} No {%endif%}</p>
                    </div>

                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Status:</p>
                        <p class="col-sm-10">{% if address_data.status == 1 %} Active {%elif address_data.status == 2 %} in active {%endif%}</p>
                    </div>
                    
                </div>

            </div>
			
			
			
		</div>
	</section>

	
  {% endblock %}
  