{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>View Product Group</span></p>
            <h1 class="mb-0 bread">View Product Group "{{product_group_values.name}}"</h1>
          </div>
        </div>
    </div>
<form action="" class="bg-white p-5 contact-form" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
<section class="ftco-section contact-section bg-light">
	<div class="container">

		  
		<div class="bg-white p-5 contact-form">
                <table>
                    <tr>
                        {% if messages %}
						<div class="alert alert-success" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						</div>
						{% endif %}
                    </tr>
                </table>
				<a href="/product_group_list/" class="btn btn-primary pull-right" style="width:80px;float:right">Back</a>
			
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Category Name&nbsp;:</b></p>
                        <p class="col-sm-8">{% for cat_val in cat_values %}
                                    {% if product_group_values.category_id == cat_val.id %}
                                {{cat_val.cat_name | title}}
                                {%endif%}
                                {%endfor%}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3"style="color: black"><b>Name&nbsp;:</b></p>
                        <p class="col-sm-8">{{product_group_values.name}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3"style="color: black"><b>Description&nbsp;:</b></p>
                        <p class="col-sm-8">{{product_group_values.description|default:""}}</p>
                    </div>
                    
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Status&nbsp;:</b></p>
                        <p class="col-sm-8 mb-0">{% if product_group_values.status == 1 %} Active
                            {% else %} Inactive {% endif %}</p>
                    </div>
                   
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Created on&nbsp;:</b></p>
                        <p class="col-sm-8">{{product_group_values.created_on |date:'m/d/Y'| default:''}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Created By&nbsp;:</b></p>
                        <p class="col-sm-8">
                            {% for val in user_pro_details %}
                                    {% if product_group_values.created_by == val.user_id %}
                                {{val.first_name}}&nbsp;{{val.last_name}}
                                {%endif%}
                                {%endfor%}
                        </p>
                    </div>
                    <div class="row">
                        
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Product Image Upload&nbsp;:</b></p>
                        <div class="col-sm-8">

							{% if image_error %}
							<div style="color:red;text-align: left">{{image_error }}</div>
							{% endif %}
							
							<div class="tx-danger"></div>
								File<span class="tx-danger"> * </span>
								

								<input type="file" name="image"  id="prt_image" multiple="multiple" required />
								</br></br>
								<span class="tx-danger"> *</span>&nbsp; <font size=2><b> png,jpg,jpeg image formats only allowed</b></font>
                        </div><br><br>
                                    
						<div class="form-layout-footer" style="padding-left: 36%;"><br>
						 <button type="submit" class="btn btn-primary mg-r-5" style="cursor:pointer;">Upload</button>
						</div>
                    </div>
					<br><br>
				</div>
				
				{% for img in images %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
						<img class="img-fluid" src="/{{img.image}}" alt="Colorlib Template">
    				
    					<div class="text py-3 pb-4 px-3 text-center">{% if img.is_default == 1 %}
    						<h3><i class="icon icon-check-circle" style="color:#82ae46 "></i>&nbsp;&nbsp;<font size=2 color="#82ae46"><b>Default Image</b></font>{%endif%}
										</h3>
    						<br>
							{% if img.is_default == 2 %}
	    					<div class="">
	    						<div class="m-auto d-flex">
	    						<a href="/product_group_img_default/{{img.id}}" class=" btn btn-primary mg-r-2" >Set Default</a>
	    							<!-- <a href="javascript:void(0)" onclick="add_to_cart({{product_info.id}})" class="buy-now d-flex justify-content-center align-items-center mx-1"> -->
	    								<!-- <span><i class="ion-ios-cart"></i></span> -->
	    							<!-- </a> -->
	    							
    							</div>
    						</div>
							{%endif%}
    					</div>
    				</div>
    			</div>
				{%endfor%}
								   
			</div>
		</div>
	</div>
</section>
</form>

                        

	
  {% endblock %}
  