{% extends 'base.html' %}
{% block content %}
	{% load static %}
<div class="container">
	<div class="row no-gutters slider-text align-items-center justify-content-center">
	<div class="col-md-12 ftco-animate text-center">
		<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>Coupon</span></p>
		<h1 class="mb-0 bread">Add Coupon</h1> 
	</div>
	</div>
</div>

    <section class="ftco-section contact-section bg-light">
      <div class="container">    
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">

            <form action="" class="bg-white p-5 contact-form" method="post">
              {% csrf_token %}
              <h5 style="padding-left: 90%"><a href="/coupon_list/"class='btn btn-danger' style="color:white;border:1px solid white;">Back</a></h5>
               <center>
              
              <div class="form-group">
				<label class="mr-3 col-md-2" style="color: black"><b>Title</b><span style="color:red">*</span></label>
				<label class="col-md-6">
          {% if forms.coupon_title.errors %}
            <div  style="color:red;text-align: left">{{ forms.coupon_title.errors }}</div>
          {% endif %}
                 <input type="text" name="coupon_title" class="form-control" value="{{forms.coupon_title.value|default:''}}" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"style="color: black"><b>Start Date</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.start_date.errors %}
            <div  style="color:red;text-align: left">{{ forms.start_date.errors }}</div>
          {% endif %}
                 <input type="text" name="start_date" id=start_date class="form-control datepicker" autocomplete="off" onchange="pop_end_date()" value="{{forms.start_date.value|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>End Date</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.end_date.errors %}
            <div  style="color:red;text-align: left">{{ forms.end_date.errors }}</div>
          {% endif %}
                 <input type="text" name="end_date" class="form-control datepicker" value="{{forms.end_date.value|default:''}}" autocomplete="off">
                 <input type="hidden" name="end_date_af_year" id="end_date_af_year" class="form-control" value="{{ forms.end_date_af_year.value }}"autocomplete="off">
                 <span id="max_end_date_div" style="display:none">
        </label>
        
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Customer Frequency</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.cust_frequency.errors %}
            <div  style="color:red;text-align: left">{{ forms.cust_frequency.errors }}</div>
          {% endif %}
                 <input type="text" name="cust_frequency" class="form-control" value="{{forms.cust_frequency.value|default:''}}" onkeyup="this.value=this.value.replace(/\D/,'')"autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"style="color: black"><b>Offer Percentage</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.offer_percentage.errors %}
            <div  style="color:red;text-align: left">{{ forms.offer_percentage.errors }}</div>
          {% endif %}
                 <input type="text" name="offer_percentage" class="form-control" value="{{forms.offer_percentage.value|default:''}}" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"style="color: black"><b>Minimum Amount</b></label>
        <label class="col-md-6">
          {% if forms.min_amount.errors %}
            <div  style="color:red;text-align: left">{{ forms.min_amount.errors }}</div>
          {% endif %}
                 <input type="text" name="min_amount" class="form-control"value="{{forms.min_amount.value|default:''}}"  autocomplete="off">
        </label>
              </div>
              
			<div class="form-group">
				<label class="col-md-2" style="border:0px solid red;color: black"><b>Status</b></label>&nbsp;&nbsp;
				<label class="col-md-6" style="border:0px solid red">
					<label style="float:left">
						<input type="radio" name="coupon_status" value="1">&nbsp;&nbsp;Active
					</label> &nbsp;&nbsp;&nbsp;&nbsp;
					<label style="float:left;padding-left:20px"><input type="radio" name="coupon_status" value="2" checked>&nbsp;&nbsp;In active</label>
				</label>
			</div>
              
			<div class="submit-section submit-btn-bottom" style="padding-right: 23%;">
				<div class="form-group ">
					<span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" value="Add" class="btn btn-info py-3 px-5">
				<a href="/coupon_add" class="btn btn-danger py-3 px-5">Reset</a>
				</div>
			</div>
            </form>
          </div>

        </div>
      </div>
    </section>
{%if form.end_date_af_year.value%}
<script>
end_date = document.getElementById("end_date_af_year").value
document.getElementById("max_end_date_div").style.display="block"
document.getElementById("max_end_date_div").innerHTML ="<span style='color:#dc3545'>(Max.End date : '"+end_date+"')</span>"
</script>
{%endif%}
<script type="text/javascript">
  function pop_end_date(){  
  var after_one_year="";
  var date ="";
  var year = "";
  var month = "";
  var day = "";
  var d = document.getElementById("start_date").value;
  
  if (d != ""){
    var date = new Date(d); 
    var year = date.getFullYear();
    var month = date.getMonth();
    var day = date.getDate();
    var after_one_year = new Date(year + 1, month, day);
  }
  if(after_one_year != ""){
    //format date start
    var emonth = after_one_year.getMonth() + 1;
    var eday = after_one_year.getDate();
    var eyear = after_one_year.getFullYear();
    if (eday < 10) { 
		eday = '0' + eday; 
	} 
	if (emonth < 10) { 
		emonth = '0' + emonth; 
	}
    var end_date = emonth + "/" + eday + "/" + eyear;
    
    //format date end
    document.getElementById("max_end_date_div").style.display="block"
    document.getElementById("max_end_date_div").innerHTML ="<span style='color:#dc3545'>(Max.End date must be After '"+d+"')</span>"
    document.getElementById("end_date_af_year").value=end_date
    document.getElementById("end_date").value=end_date
  }else{
    document.getElementById("max_end_date_div").style.display="none"
    document.getElementById("max_end_date_div").innerHTML =""
    document.getElementById("end_date_af_year").value=""
    document.getElementById("end_date").value=""
  }
}
</script>
{% endblock %}