{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>View Coupon</span></p>
            <h1 class="mb-0 bread">View Coupon "{{coupon_info.title}}"</h1>
          </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
		<div class="container">

		
			<table width="100%" > 
				<a href="/coupon_list/" class="btn btn-primary pull-right" style="width:80px;float:right">Back</a>
			 </table>
             <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Title:</p>
                        <p class="col-sm-10">{{coupon_info.title}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Start date:</p>
                        <p class="col-sm-10">{{coupon_info.start_date|date:'m/d/Y'}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">End date:</p>
                        <p class="col-sm-10">{{coupon_info.end_date|date:'m/d/Y'}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Customer frequency:</p>
                        <p class="col-sm-1">{{coupon_info.customer_frequency}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0">Offer percentage:</p>
                        <p class="col-sm-1 mb-0">{{coupon_info.offer_percentage}}</p>
                    </div>
                    <br>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Minimum amount:</p>
                        <p class="col-sm-1">{{coupon_info.min_order_amount}}</p>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Status:</p>
                        <p class="col-sm-10">{% if coupon_info.status == 1 %} Active
										{% elif coupon_info.status == 2 %} In Active
									{% endif %}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Created on:</p>
                        <p class="col-sm-10">{{coupon_info.created_on|date:'m/d/Y'}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Created by:</p>
                        <p class="col-sm-10">
						        	{% for val in user_pro_details %}
						        	{% if coupon_info.created_by == val.user_id %}
						        {{val.first_name}}&nbsp;{{val.last_name}}
						    	{%endif%}
						    	{%endfor%}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Modified on:</p>
                        <p class="col-sm-10">{{coupon_info.modified_on|date:'m/d/Y'}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Modified by:</p>
                        <p class="col-sm-10">{% for val in user_pro_details %}
						        	{% if coupon_info.modified_by == val.user_id %}
						        {{val.first_name}}&nbsp;{{val.last_name}}
						    	{%endif%}
						    	{%endfor%}</p>
                    </div>
                    
                </div>

            </div>
			
			
			
		</div>
	</section>

	
  {% endblock %}
  