{% extends 'base.html' %}
{% block content %}
	{% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>Category</span></p>
            <h1 class="mb-0 bread">Add Category</h1>
          </div>
        </div>
      </div>
    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">
            <form action="" class="bg-white p-5 contact-form" method="post">
              {% csrf_token %}
              <h5 style="padding-left: 90%"><a href="category_list"class='btn btn-danger' style="color:white;border:1px solid white;">Back</a></h5>
              <center>
              <div class="form-group">
				<label class="mr-3 col-md-2" style="color: black"><b>Parent Category</b></label>
				<label class="col-md-6">
					
					<select name="parent_id" id="" class="form-control">
						<option value="0">-Select Code-</option>
            {%for pat_id in category_values%}
						<option value="{{pat_id.id}}" {% if forms.parent_id.value|add:0 == pat_id.id %} selected {%endif%}>{{pat_id.cat_name}}</option>
            {%endfor%}
		            </select>
               
				</label>
              </div>
              <div class="form-group">
					
				<label class="mr-3 col-md-2" style="color: black"><b>Category Name</b><span style="color:red">*</span></label>
				<label class="col-md-6">
          {% if forms.cat_name.errors %}
            <div  style="color:red;text-align: left">{{ forms.cat_name.errors }}</div>
          {% endif %}
                 <input type="text" name="cat_name" class="form-control" autocomplete="off" value="{{ forms.cat_name.value | default:'' }}">
				</label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red;color: black"><b>Status</b></label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="cat_status" value="1">&nbsp;&nbsp;Active
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="cat_status" value="2" checked>&nbsp;&nbsp;In active</label>
          </label>
              </div>
			  <div class="submit-section submit-btn-bottom" style="padding-right: 23%;">
              <div class="form-group ">
                 <span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Add" class="btn btn-info py-3 px-5">
                <a href="/category_add" class="btn btn-danger py-3 px-5">Reset</a>
              </div>
			  </center>
            </form>
          </div>

        </div>
      </div>
    </section>
{% endblock %}