{% extends 'base.html' %}
{% block content %}
    {% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Category view</span></p>
            <h1 class="mb-0 bread">Category view</h1>
          </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">

            <div class="bg-white p-5 contact-form">
                
                <a href="/category_list" class="btn btn-primary pull-right" style="width:80px;float:right">Back</a>
             <br>
                                                             
             <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Category Name:</b></p>
                        <p class="col-sm-8">{{cat_values.cat_name|title}}</p>
                    </div>
                    
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3"style="color: black"><b>Category Code:</b></p>
                        <p class="col-sm-8">{{cat_values.cat_code}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3"style="color: black"><b>Parent id:</b></p>
                        <p class="col-sm-8">{{cat_values.parent_id}}</p>
                    </div>
                   
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Status:</b></p>
                        <p class="col-sm-8 mb-0">{% if cat_values.status == 1 %} Active
                            {% else %} Inactive {% endif %}</p>
                    </div>
                   
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Created on:</b></p>
                        <p class="col-sm-8">{{cat_values.created_on}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Created By:</b></p>
                        <p class="col-sm-8">{{cat_values.created_by}}</p>
                    </div>
                    
                </div>

            </div>
            
            </div>
            
        </div>
    </section>

    
  {% endblock %}
  