{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Login</span></p>
            <h1 class="mb-0 bread">Login</h1>
          </div>
        </div>
    </div>
	
	<section class="ftco-section contact-section bg-light">
		<div class="container">
			<div class="row block-9">
				<div class="col-md-12 order-md-last d-flex" >
				
					<form action="" method="POST" name="login_form" class="bg-white p-5 contact-form">
					{% csrf_token %}
						<center >
							<span style="color:red">{{error_array.common_error}}</span>
							<div class="form-group">
								<label class="mr-3 col-md-2"  style="color:black"><b>Email</b><span style="color:red">*</span></label>
								<label class="col-md-6">
									<span style="color:red">{{error_array.email_error}}</span>
									<input type="text" name="email" class="form-control" autocomplete="off">
								</label>
							</div>
							<div class="form-group">
								<label class="mr-3 col-md-2" style="color:black"><b>Password</b><span style="color:red">*</span></label>

								<label class="col-md-6">
								<span style="color:red">{{error_array.password_error}}</span>
									<input type="password" name="password" class="form-control" autocomplete="off">
								</label>
							</div>
							<div class="form-group ">
								<input type="submit" value="Login" class="btn btn-primary py-3 px-5">
							</div>
							<b>
							<span  style="color:black">create an account?&nbsp;<a href="/register/">Register</a></span>
							<span style="padding-left: 29%"><a href="javascript:void(0)"  onclick="load_modal()">Forgot Passsword</a></span></b>
						</center>
					</form>
				</div>

			</div>
		</div>
	</section>


<div id="modaldemo2" class="modal fade">
  <div class="modal-dialog modal-sm" role="document">
	<div class="modal-content bd-0 tx-14">
	  <div class="modal-header pd-x-20">
		<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Send Reset Password Link</h6>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body pd-20">
				<div class="row row-xs mg-t-20">
					<div class="col-sm-12 mg-t-10 mg-sm-t-0">
					<div id="login_msg" style="color:red"></div>
					<input type="text" name="email" id="email" class="form-control" value="{{ form.email_address.value }}" placeholder="Enter Email">
					</div>
				</div>
	  </div>
	  <div class="modal-footer justify-content-center">
		<button type="button" class="btn btn-primary pd-x-20" onclick="email_submit()" >Send</button>
	  </div>
	</div>
  </div><!-- modal-dialog -->
</div><!-- modal -->
<script type="text/javascript">
	function load_modal(id){

		$('#modaldemo2').modal('show');
	}
	function email_submit(){
	document.getElementById("login_msg").innerHTML=""
	
	var email = document.getElementById("email").value;
	var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
	var atposition=email.indexOf("@");  
	var dotposition=email.lastIndexOf(".");  
	
	if (email != ""){
	
		if(mailformat.test(email))
		{	
			if (atposition<1 || dotposition<atposition+2 || dotposition+2>=email.length){
				document.getElementById("login_msg").innerHTML="<span style='color:red'>Enter valid email</span>"
			}else{
				$.ajax({
					url:"/forgot_password/",
					data:{	
							email:email,
							csrfmiddlewaretoken: '{{ csrf_token }}'},
					type:"POST",
					dataType: 'json',
					success:function(data)
					{
						alert(data.result)
						if (data.result == "success"){
							document.getElementById("login_msg").innerHTML="<span style='color:green'>Your Password &nbsp;-&nbsp;<b>"+data.password+"</b></span>"

							
							
						}
						else if (data.result == "Failed"){
							document.getElementById("login_msg").innerHTML="<span style='color:red'>Invalid Email Please Register!</span>"
						}
					}
				});
			}
		}else{
			document.getElementById("login_msg").innerHTML="<span style='color:red'>Enter valid email</span>"
		}
	}
	else{
		document.getElementById("login_msg").innerHTML="<span style='color:red'>Please enter email</span>"
	}

}


</script>

  {% endblock %}