{% extends 'base.html' %}
{% block content %}
	{% load static %}  
	<div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Register</span></p>
            <h1 class="mb-0 bread">Register</h1>
          </div>
        </div>
    </div>
	
	<section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">
            <form action="" class="bg-white p-5 contact-form">
            	<center>
            		<div class="form-group">
        <label class="mr-3 col-md-2">Email<span style="color:red">*</span></label>
        <label class="col-md-6">
                 <input type="text" name="email" class="form-control" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2">Password<span style="color:red">*</span></label>

        <label class="col-md-6">
                 <input type="password" name="password" class="form-control" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2">Confirm Password<span style="color:red">*</span></label>
        <label class="col-md-6">
                 <input type="confirm_password" name="confirm_password" class="form-control" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
				<label class="mr-3 col-md-2">First Name <span style="color:red">*</span></label>
				<label class="col-md-6">
                 <input type="text" name="first_name" class="form-control" autocomplete="off">
				</label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2">Last Name</label>
        <label class="col-md-6">
                 <input type="text" name="last_name" class="form-control" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2">Date of Birth</label>
        <label class="col-md-6">
                 <input type="text" name="dob" class="form-control datepicker" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red">Gender</label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="gender" value="1">&nbsp;&nbsp;Male
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="gender" value="2">&nbsp;&nbsp;Female</label>
          </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2">Mobile Number<span style="color:red">*</span></label>
        <label class="col-md-6">
                 <input type="text" name="mobile_number" class="form-control" autocomplete="off">
        </label>
              </div>
              <div class="submit-section submit-btn-bottom" style="padding-right: 18%;">
              <div class="form-group ">
                 <span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
                <a href="/register" class="btn btn-danger py-3 px-5">Reset</a>
              </div>
			       </div>
			       <span>Already have an account?&nbsp;&nbsp;<a href="/login/">Login</a></span>
              
			  </center>
            </form>
          </div>

        </div>
      </div>
</section>
  {% endblock %}