{% extends 'base.html' %}
{% block content %}
    {% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Profile Settings</span></p>
            <h1 class="mb-0 bread">Profile View</h1>
          </div>
        </div>
    </div>
    <form action="" class="bg-white p-5 contact-form" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="bg-white p-5 contact-form">
                <table>
                    <tr>
                        {% if messages %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
                    </tr>
                </table>
                
                <a href="/home" class="btn btn-danger pull-left" style="width:80px;float:left">Back</a>
             <br>
                   
        
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">

                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>First Name&nbsp;:</b></p>
                       <p class="col-sm-8">{{user_profile.first_name}}</p>
                    </div>
                    <div class="row">

                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Last Name&nbsp;:</b></p>
                       <p class="col-sm-8">{{user_profile.last_name}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Dob&nbsp;:</b></p>
                         <p class="col-sm-8">{{user_profile.dob|date:'m/d/Y'|default:''}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Gender&nbsp;:</b></p>
                         <p class="col-sm-8">
                         {% if user_profile.gender == 1 %} 
                            Male
                        {%else%}
                            Female
                        {%endif%}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Mobile Number&nbsp;:</b></p>
                         <p class="col-sm-8">{{user_profile.contact_no|default:''}}</p>
                    </div>
                     <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Email&nbsp;:</b></p>
                         <p class="col-sm-8">{{user_details.email}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Status&nbsp;:</b></p>
                        <p class="col-sm-8 mb-0">{% if user_type.status == 1 %} Active
                            {% else %} Inactive {% endif %}</p>
                    </div>
                    
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Created on&nbsp;:</b></p>
                         <p class="col-sm-8">{{user_profile.created_on|date:'m/d/Y'}}</p>
                    </div>
                    <a href="/user_profile_edit/{{user_profile.user_id}}" class="btn btn-primary pull-right" style="width:80px;float:right"><i class="icon icon-edit"></i>&nbsp;Edit</a>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    
  {% endblock %}
  