{% extends 'base.html' %}
{% block content %}
    {% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Cms view</span></p>
            <h1 class="mb-0 bread">Cms view</h1>
          </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">

            <div class="bg-white p-5 contact-form">
                
                <a href="/cms_list" class="btn btn-primary pull-right" style="width:80px;float:right">Back</a>
             <br>
                                                             
             <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Name&nbsp;:</b></p>
                        <p class="col-sm-8">{{cms_values.name|title}}</p>
                    </div>
                    
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3"style="color: black"><b>Content&nbsp;:</b></p>
                        &nbsp;&nbsp;&nbsp;{{cms_values.content | safe}}
                    </div>
                   
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Status&nbsp;:</b></p>
                        <p class="col-sm-8 mb-0">{% if cms_values.status == 1 %} Active
                            {% else %} Inactive {% endif %}</p>
                    </div>
                   
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Created on&nbsp;:</b></p>
                        <p class="col-sm-8">{{cms_values.created_on|date:'m/d/Y'}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>Created By&nbsp;:</b></p>
                        <p class="col-sm-8">{% for val in user_pro_details %}
						        	{% if cms_values.created_by == val.user_id %}
						        {{val.first_name}}&nbsp;{{val.last_name}}
						    	{%endif%}
						    	{%endfor%}</p>
                    </div>
                    
                </div>

            </div>
            
            </div>
            
        </div>
    </section>

    
  {% endblock %}
  