{% extends 'base.html' %}
{% block content %}
	{% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>CMS</span></p>
            <h1 class="mb-0 bread">Edit CMS</h1>
          </div>
        </div>
      </div>
    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">
            <form action="" class="bg-white p-5 contact-form" method="post">
            {% csrf_token %} 
              <h5 style="padding-left: 90%"><a href="/cms_list"class='btn btn-danger' style="color:white;border:1px solid white;">Back</a></h5>
              <center>
              <input type="hidden" name="cms_id" class="form-control" autocomplete="off" value="{{cms_id}}">
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color: black"><b>Name</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.cms_name.errors %}
            <div  style="color:red;text-align: left">{{ forms.cms_name.errors }}</div>
          {% endif %}
                 <input type="text" name="cms_name" class="form-control" autocomplete="off" value="{{cms_values.name}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"style="color: black"><b>Content</b></label>
        <label class="col-md-6">
                 <textarea id="summernote" name="cms_content">{{cms_values.content}}</textarea>
        </label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red">Status </label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="cms_status" value="1" {% if cms_values.status == 1 %} checked {%endif%}>&nbsp;&nbsp;Active
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="cms_status" value="2" {% if cms_values.status == 2 %} checked {%endif%}>&nbsp;&nbsp;In active</label>
          </label>
              </div>
			  
             <div class="submit-section submit-btn-bottom" style="padding-right: 19%;">
              <div class="form-group ">
                 <span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Update" class="btn btn-info py-3 px-5">
                <a href="/cms_edit" class="btn btn-danger py-3 px-5">Reset</a>
              </div>
             </div>
            </form>
          </div>

        </div>
      </div>
    </section>
{% endblock %}