{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>User</span></p>
            <h1 class="mb-0 bread">Edit User</h1> 
          </div>
        </div>
      </div>

    <section class="ftco-section contact-section bg-light">
      <div class="container">    
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">

            <form action="" class="bg-white p-5 contact-form" method="post"> 
               {% csrf_token %}
              <h5 style="padding-left: 90%"><a href="/user_list/"class='btn btn-danger' style="color:white;border:1px solid white;">Back</a></h5>
              <center>
              <div class="form-group">
                
        <label class="mr-3 col-md-2"  style="color:black"><b>User Type</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.user_id.errors %}
            <div style="color:red;text-align: left">{{ forms.user_id.errors }}</div>
          {% endif %}
          <select name="user_id" id="" class="form-control">
            <option value="">-Select Parent Category-</option>
            {% for user_type_val in user_types %}
            <option value="{{user_type_val.id}}" {% if user_profile_values.user_id|add:0 == user_type_val.id %} selected {%endif%}>{{user_type_val.name.title}}</option>
            {%endfor%}
                </select>
               
        </label>
              </div>
              
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>First Name </b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.first_name.errors %}
            <div style="color:red;text-align: left">{{ forms.first_name.errors }}</div>
          {% endif %}
                 <input type="text" name="first_name" class="form-control" autocomplete="off" value="{{user_profile_values.first_name|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Last Name</b></label>
        <label class="col-md-6">
                 <input type="text" name="last_name" class="form-control" autocomplete="off" value="{{user_profile_values.last_name|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Date of Birth</b></label>
        <label class="col-md-6">
                 <input type="text" name="dob" class="form-control datepicker" autocomplete="off" value="{{user_profile_values.dob|date:'m/d/Y'|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red;color: black"><b>Gender</b></label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="gender" value="1" {% if user_profile_values.gender|add:0 == 1 %} checked {%endif%}>&nbsp;&nbsp;Male
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="gender" value="2" {% if user_profile_values.gender|add:0 == 2 %} checked {%endif%}>&nbsp;&nbsp;Female</label>
          </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Mobile Number</b></label>
        <label class="col-md-6">
          {% if forms.mobile_number.errors %}
            <div style="color:red;text-align: left">{{ forms.mobile_number.errors }}</div>
          {% endif %}
                 <input type="text" name="mobile_number" class="form-control" autocomplete="off" value="{{user_profile_values.contact_no|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red;color: black;"><b>Status</b></label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="user_status" value="1" {% if user_values.status == 1 %} checked {%endif%}>&nbsp;&nbsp;Active
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="user_status" value="2" {% if user_values.status == 2 %} checked {%endif%}>&nbsp;&nbsp;In active</label>
          </label>
              </div>
        
            
               <div class="submit-section submit-btn-bottom" style="padding-right: 23%;">
              <div class="form-group ">
                 <span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Update" class="btn btn-info py-3 px-5">
                <a href="/user_edit" class="btn btn-danger py-3 px-5">Reset</a>
              </div>
             </div>
            </form>
          </div>

        </div>
      </div>
    </section>
{% endblock %}