{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>User</span></p>
            <h1 class="mb-0 bread">User</h1>
          </div>
        </div>
    </div>
	<form action="" method="POST"name="myform"> {% csrf_token %}
    <section class="ftco-section contact-section bg-light">
		<div class="container">
			<div class="row mg-b-25">

                <div class="col-lg-4">
					<div class="form-group">
				
						<select  name="search_user_type" class="form-control"style="font-size:14px;">
							<option  selected="selected" value="0">- Select Type -</option>
							{% for type in user_type %}
							<option value="{{type.id}}" {%if search_val.search_user_type == type.id %} selected {%endif%}>{{type.name}}</option>
							
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="form-group">
						<input type="text" name="search_keyword" id="search_keyword" style="font-size:14px;"class="form-control" value="{{ search_val.search_keyword|default:"" }}" placeholder="Keyword">
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="form-group">
						<select  name="search_status" class="form-control"style="font-size:14px;">
							<option  selected="selected" value="0">- Select Status -</option>
								<option value="1"{%if search_val.search_status == "1" %} selected {%endif%}>Active</option>
								<option value="2"{%if search_val.search_status == "2" %} selected {%endif%}>In Active</option>
								
						</select>
					</div>
				</div>
		
				<div class="col-lg-4">
					<div class="form-group">
						<button type="submit" class="btn btn-info mg-r-5"  style="cursor:pointer;width:80px">Search</button>
						<a href=" /user_list"  class="btn btn-danger mg-r-5"  style="cursor:pointer;width:80px"> Reset</a>
					
					</div>
				</div>
			</div>
		
			<table width="100%" > 
				<tr>
				   <td style="padding:10px;color:black">
				   <input id="varPageNo" name="varPageNo" type="hidden" value="{{varPageNo}}">
					  Display 
						 <select  name="count" class="" onchange="processRecordsCount()">
							
							{% for count in rec_count_value %}
							
							   <option value="{{ count }}" {% if count == rec_count %} selected
							   {% endif %}> {{ count|title }}</option>
							{% endfor %}
						 </select> 
						 records
				   </td>
				   <td style="float: right;padding: 2%;">	
					<a href="#" class="btn btn-primary mg-r-5" style="float:right;">Add User</a>
				   </td>
					<!-- <td style="float: right;padding: 2%;">	 -->
						<!-- <button type="submit" name="export" style="float:right;cursor:pointer;" class="btn btn-primary mg-r-5"  style="cursor:pointer;width:80px" title="Export Non Clinical Timesheet Report">Export</button> -->
					<!-- </td> -->
				</tr>
			 </table>
			<div class="row" style="overflow: auto;white-space: nowrap;">
    			<div class="col-md-12 ftco-animate">
					<input id="varSortCol" name="varSortCol" type="hidden" value="{{ varSortCol }}">
					<input id="varSortOrder" name="varSortOrder" type="hidden" value="{{ varSortOrder }}">
	
					{% if varSortOrder == "DESC" %}
						{% firstof "&nbsp;<i class='icon icon-arrow-up'></i>" as coloumnSort %}
					{% else %}
						{% firstof "&nbsp;<i class='icon icon-arrow-down'></i>" as coloumnSort %}
					{% endif %}

    				<div class="cart-list">
	    				<table class="table bg-white">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th><a href="javascript:void(0)" onclick="processSorting('pro.first_name')" style="color:white">Name</a>{% if varSortCol == 'pro.first_name' %} {{ coloumnSort }} {% endif %}
						       
                                <th><a href="javascript:void(0)" onclick="processSorting('usr_typ.name')" style="color:white">Type</a>{% if varSortCol == 'usr_typ.name' %} {{ coloumnSort }} {% endif %}</th>
								<th><a href="javascript:void(0)" onclick="processSorting('usr.email')" style="color:white">Email</a>{% if varSortCol == 'usr.email' %} {{ coloumnSort }} {% endif %}</th>
								
								<th ><a href="javascript:void(0)" onclick="processSorting('usr.status')" style="color:white">Status</a>{% if varSortCol == 'usr.status' %} {{ coloumnSort }} {% endif %} </th>
								<th><a href="javascript:void(0)" onclick="processSorting('usr.created_on')" style="color:white">Created On</a>{% if varSortCol == 'usr.created_on' %} {{ coloumnSort }} {% endif %}</th>
						        <th><a href="javascript:void(0)" onclick="processSorting('created_by_name')" style="color:white">Created By</a>{% if varSortCol == 'created_by_name' %} {{ coloumnSort }} {% endif %}</th>
						        <th>Action</th>
						      </tr>
						    </thead>
						    <tbody>
								{% for user_profile_info in user_profile %}
						      <tr class="text-center" style="color:black">
						       
								<td class="">{{user_profile_info.first_name}} {{user_profile_info.last_name}}</td>
									
								<td class="">{{user_profile_info.user_type}}</td>
                                <td class="">{{user_profile_info.email}}</td>
								<td class="">
									{% if user_profile_info.status == 1 %} Active
										{% elif user_profile_info.status == 2 %} In Active
									{% endif %}
								</td>
						        <td class="">{{user_profile_info.created_on|date:'m/d/Y'}}</td>
								<td class="">{{user_profile_info.created_by_name}}</td>
						        <td class=""><h5>
								<!-- <a href="#" title="Add" style="color:black"><i class="icon icon-add"></i></a> &nbsp;&nbsp; -->
								<a href="/user_edit/{{ user_profile_info.id }}" title="Edit" style="color:black"><i class="icon icon-edit"></i></a> &nbsp;&nbsp;
								<a href="/user_view/{{ user_profile_info.id }}" title="View" style="color:black"><i class="icon icon-eye"></i></a> &nbsp;&nbsp;
								<a href="/category_delete" title="Delete" style="color:black"><i class="icon icon-trash"></i></a> &nbsp;&nbsp;
							
								</h3>
								</td>
							  </tr>
							  {% endfor %}<!-- END TR-->
						      
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			
			{% if user_profile|length > 0 %}
			<div class="row mt-5">
				<div class="dataTables_info" style="color:black">Showing <b>{{startRec}}</b>  to <b>{{endRec}}</b>  of <b>{{tatal_rec}}</b> Records</div>
				<div class="col text-right">
					<div class="block-27">
					  <ul>
						<li class=" {% if varPageNo == 1 %}disabled{% endif %}">
							<a  href="javascript:void(0);" onClick="setPrevious('min');" tabindex="-1">&lt;</a>
						</li>
						{% for i in total_pages %}
						<li class=" {% if forloop.counter == varPageNo %}active{% endif %}" ><a href="javascript:void(0)" onclick="processPage({{ forloop.counter }});">{{ forloop.counter }}</a></li>
						{% endfor %}
						<li class=" {% if varPageNo == total_no %}disabled{% endif %}">
							<a href="javascript:void(0);" onClick="setPrevious('plus');">&gt;</a>
						</li>
					  </ul>
					</div>
				</div>
			</div>
			{% endif %}
			
		</div>
	</section>
	</form>
	
	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    </section> <script>


	function processPage(page_no){
		document.getElementById('varPageNo').setAttribute('value', page_no);
		document.myform.submit();				
	}
	
	function setPrevious(action)
	{	
		var pageNumObj = document.getElementById('varPageNo');
		
		var status = false;
		switch(action)
		{
			case "plus":
				
					var newPageNum = parseInt(pageNumObj.value) + parseInt(1);
					status = true;
				
			break;
			case "min":
				
					var newPageNum = parseInt(pageNumObj.value) - parseInt(1);
					status = true;
				
			break;
			default:
				var newPageNum = 1;
		}
		
		if(status)
		{
			document.getElementById('varPageNo').setAttribute('value', newPageNum);
			document.myform.submit();
		}	
	}
	
	function processRecordsCount()
	{	
		document.getElementById('varPageNo').setAttribute('value', '1');
		document.myform.submit();					
	}
	
	
	function processSorting(column_name){
	
		var current_sort=document.getElementById('varSortOrder').value;
	
		if(current_sort == "ASC"){
			new_sort="DESC";
		}
		else if(current_sort == "DESC"){
			new_sort="ASC";
		}
	
		document.getElementById('varSortCol').setAttribute('value', column_name);
		document.getElementById('varSortOrder').setAttribute('value', new_sort);
		document.myform.submit();
	}
	</script>
    
  {% endblock %}
 