{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> / <span>User</span></p>
            <h1 class="mb-0 bread">Add User</h1>
          </div>
        </div>
      </div>
    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-12 order-md-last d-flex">
            <form action="" class="bg-white p-5 contact-form" method="post"> 
               {% csrf_token %}
              <h5 style="padding-left: 90%"><a href="/user_list/"class='btn btn-danger' style="color:white;border:1px solid white;">Back</a></h5>
              <center>
              <div class="form-group">
        <label class="mr-3 col-md-2" style="color:black"><b>User Type</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.user_id.errors %}
            <div style="color:red;text-align: left">{{ forms.user_id.errors }}</div>
          {% endif %}

          <select name="user_id" id="" class="form-control">
            <option value="">-Select Parent Category-</option>
            {% for user_type_val in user_type %}
            <option value="{{user_type_val.id}}" {% if forms.user_id.value|add:0 == user_type_val.id %} selected {%endif%}>{{user_type_val.name.title}}</option>
            {%endfor%}
                </select>
               
        </label>
              </div>

              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Email</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.email.errors %}
            <div style="color:red;text-align: left">{{ forms.email.errors }}</div>
          {% endif %}

                 <input type="text" name="email" class="form-control" autocomplete="off" value="{{forms.email.value|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Password</b><span style="color:red">*</span></label>

        <label class="col-md-6">
          {% if forms.password1.errors %}
            <div style="color:red;text-align: left">{{ forms.password1.errors }}</div>
          {% endif %}

                 <input type="password" name="password1" class="form-control" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Confirm Password</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.password2.errors %}
            <div style="color:red;text-align: left">{{ forms.password2.errors }}</div>
          {% endif %}
                 <input type="password" name="password2" class="form-control" autocomplete="off">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>First Name</b><span style="color:red">*</span></label>
        <label class="col-md-6">
          {% if forms.first_name.errors %}
            <div style="color:red;text-align: left">{{ forms.first_name.errors }}</div>
          {% endif %}
                 <input type="text" name="first_name" class="form-control" autocomplete="off" value="{{forms.first_name.value|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Last Name</b></label>
        <label class="col-md-6">
                 <input type="text" name="last_name" class="form-control" autocomplete="off" value="{{forms.last_name.value|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Date of Birth</b></label>
        <label class="col-md-6">
                 <input type="text" name="dob" class="form-control datepicker" autocomplete="off" value="{{forms.dob.value|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red;color:black"><b>Gender</b></label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="gender" value="1" {% if forms.gender.value|add:0 == 1 %} checked {%endif%}>&nbsp;&nbsp;Male
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="gender" value="2" {% if forms.gender.value|add:0 == 2 %} checked {%endif%}>&nbsp;&nbsp;Female</label>
          </label>
              </div>
              <div class="form-group">
        <label class="mr-3 col-md-2"  style="color:black"><b>Mobile Number</b></label>
        <label class="col-md-6">
          {% if forms.mobile_number.errors %}
            <div style="color:red;text-align: left">{{ forms.mobile_number.errors }}</div>
          {% endif %}
                 <input type="text" name="mobile_number" class="form-control" autocomplete="off" value="{{forms.mobile_number.value|default:''}}">
        </label>
              </div>
              <div class="form-group">
        <label class="col-md-2" style="border:0px solid red;color: black"><b>Status </b></label>&nbsp;&nbsp;
          <label class="col-md-6" style="border:0px solid red">
            <label style="float:left">
            <input type="radio" name="user_status" value="1">&nbsp;&nbsp;Active
            </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float:left;padding-left:20px"><input type="radio" name="user_status" value="2"  checked>&nbsp;&nbsp;In active</label>
          </label>
              </div>
        
            
               <div class="submit-section submit-btn-bottom" style="padding-right: 23%;">
              <div class="form-group ">
                 <span class="tx-danger" style="color: red">* fields are mandatory</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Add" class="btn btn-info py-3 px-5">
                <a href="/user_add" class="btn btn-danger py-3 px-5">Reset</a>
              </div>
             </div>
            </form>
          </div>

        </div>
      </div>
    </section>


{% endblock %}