{% extends 'base.html' %}
{% block content %}
	{% load static %}
   <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>User view</span></p>
            <h1 class="mb-0 bread">User view</h1>
          </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
		<div class="container">

		
			<table width="100%" > 
                
				<a href="/user_list" class="btn btn-primary pull-right" style="width:80px;float:right">Back</a>
             </table>
             <br>
             <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">First Name:</p>
                        <p class="col-sm-10">{{user_profile.first_name}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Type:</p>
                        <p class="col-sm-10">{{user_type.name}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Email:</p>
                        <p class="col-sm-10">{{user_profile.email}}</p>
                    </div>
                   
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0">Status:</p>
                        <p class="col-sm-10 mb-0">{% if user_type.status == 1 %} Active
                            {% else %} Inactive {% endif %}</p>
                    </div>
                   
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Created on:</p>
                        <p class="col-sm-10">{{user_profile.created_on|date:'m/d/Y'}}</p>
                    </div>
                    <div class="row">
                        <p class="text-muted text-sm-right mb-0 mb-sm-3">Created By:</p>
                        <p class="col-sm-10">{{user_profile.created_by}}</p>
                    </div>
                    
                </div>

            </div>
			
			
			
		</div>
	</section>

	
  {% endblock %}
  