{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>E-commerce</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
		<link href="{% static 'lib/summernote/summernote-bs4.css' %}"rel="stylesheet">

		<link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/animate.css' %}">
		
		<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

		<link rel="stylesheet" href="{% static 'css/aos.css' %}">

		<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

		<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">

		
		<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
		<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body class="goto-here">
		<div class="py-1 bg-primary">
			<div class="container">
				<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
					<div class="col-lg-12 d-block">
						<div class="row d-flex">
							<div class="col-md pr-4 d-flex topper align-items-center">
								
								
							</div>
							<div class="col-md pr-4 d-flex topper align-items-center">
								
								
							</div>
							<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<a class="navbar-brand" href="/home"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
				</button>
				{%if "loggedin_user_type" in request.session %}
					{%if request.session.loggedin_user_type == "EMPLOYEE" %}

						<div class="collapse navbar-collapse" id="ftco-nav">
							<ul class="navbar-nav ml-auto" style="width: 92%;">
								<li class="nav-item {% if request.resolver_match.url_name == 'user_list' %}active {%endif%}"><a href="/user_list" class="nav-link"><b>Users</b></a></li>
								<li class="nav-item {% if request.resolver_match.url_name == 'category_list' %}active {%endif%} "><a href="/category_list" class="nav-link"><b>Category</b></a></li>
								<li class="nav-item {% if request.resolver_match.url_name == 'product_group_list' %}active {%endif%}  "><a href="/product_group_list" class="nav-link"><b>Product group</b></a></li>
								<li class="nav-item {% if request.resolver_match.url_name == 'product_list' %}active {%endif%}  "><a href="/product_list" class="nav-link"><b>Product</b></a></li>
								<li class="nav-item {% if request.resolver_match.url_name == 'coupon_list' %}active {%endif%}  "><a href="/coupon_list" class="nav-link"><b>Coupon</b></a></li>
								<li class="nav-item  {% if request.resolver_match.url_name == 'order_list' %}active {%endif%} "><a href="/order_list" class="nav-link"><b>Orders</b></a></li>
								<li class="nav-item  {% if request.resolver_match.url_name == 'cms_list' %}active {%endif%} "><a href="/cms_list" class="nav-link"><b>CMS</b></a></li>
								
							</ul>
							<ul class="navbar-nav ml-auto">
								<li class="nav-item dropdown ">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Hello {{request.session.loggedin_user_name}}</b></a>
								  <div class="dropdown-menu" aria-labelledby="dropdown04">
									<!-- <a class="dropdown-item" href="/products_list">Profile</a> -->
									<a class="dropdown-item" href="/logout">Logout</a>
									
								  </div>
								</li>
							</ul>
						</div>
					{%elif request.session.loggedin_user_type == "CUSTOMER" %} 
						<div class="collapse navbar-collapse" id="ftco-nav">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item active "><li class="nav-item {% if request.resolver_match.url_name == 'products_list' %}active {%endif%}"><a href="/products_list/all" class="nav-link"><b>Products</b></a></li></li>
								<li class="nav-item active "><li class="nav-item {% if request.resolver_match.url_name == 'subscription_list' %}active {%endif%}"><a href="/subscription_list" class="nav-link"><b>Subscription</b></a></li></li>
								<li class="nav-item active "><li class="nav-item {% if request.resolver_match.url_name == 'order_list' %}active {%endif%}"><a href="/order_list" class="nav-link"><b>My order</b></a></li></li>
								<li class="nav-item active "><li class="nav-item "><a href="/address_list" class="nav-link"><b>My address</b></a></li></li>
								<li class="nav-item active "><li class="nav-item "><a href="/contact" class="nav-link"><b>Contact us</b></a></li></li>
								
								
								<li class="nav-item cta cta-colored">
									<a href="/cart" class="nav-link" title="view cart"><span class="icon-shopping_cart"></span>
									[<span id="cart_count"></span>]</a>
								</li>	
							</ul>
							<ul class="navbar-nav ml-auto">
								<li class="nav-item dropdown ">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Hello {{request.session.loggedin_user_name}}</b></a>
								  <div class="dropdown-menu" aria-labelledby="dropdown04">
									<a class="dropdown-item" href="/user_profile/{{request.session.loggedin_user_id}}">Profile Settings</a>
									<!-- <a class="dropdown-item" href="/wishlist">Wishlist</a> -->
									<a class="dropdown-item" href="/logout">Logout</a>
									
								  </div>
								</li>
							</ul>
						</div>
					{%endif%}
				{%else%}
					<div class="collapse navbar-collapse" id="ftco-nav">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active "><li class="nav-item {% if request.resolver_match.url_name == 'products_list' %}active {%endif%}"><a href="/products_list/all" class="nav-link"><b>Products</b></a></li></li>
						
							<!--<li class="nav-item active "><li class="nav-item "><a href="/products_list" class="nav-link"><b>Contact</b></a></li></li>-->
							
							<li class="nav-item cta cta-colored">
								<a href="/cart" class="nav-link" title="view cart"><span class="icon-shopping_cart"></span>
								[<span id="cart_count"></span>]</a>
							</li>	
						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active "><li class="nav-item {% if request.resolver_match.url_name == 'user_login' %}active {%endif%}"><a href="/user_login" class="nav-link"><b>Login</b></a></li></li>
						
						</ul>
					</div>
				{%endif%}
				
				
			</div>
		</nav>
		<!-- END nav -->
	
		{% block content %}
		
		{% endblock %}
	
		<div class="modal" id="cartModal" style=" -webkit-transition: 0.5s;">
			<div class="modal-dialog">
				<div class="modal-content">
			  
					<div class="modal-header">
					  <h4 class="modal-title">Confirmation!</h4>
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<center>
						<h4 id="cart_msg"></h4>
						<button type="button" style="color:white"class="btn btn-sm bg-danger" data-dismiss="modal"><b>Close</b></button>
						</center>
						<i class=""></i>
					
					</div>
				</div>
			</div>
		</div> 
		
		
		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/aos.js' %}"></script>
		<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'js/scrollax.min.js' %}"></script>
		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
		<!-- <script src="{% static 'js/google-map.js' %}"></script> -->
		<script src="{% static 'js/main.js' %}"></script>
		<script type="text/javascript">
			
			load_cart_data();
			function add_to_cart(product_id,quantity="",subscription=""){
				document.getElementById("cart_msg").innerHTML =""
				var product_id = product_id;
				var qty = quantity;
				var subs = subscription
				if (qty != ""){
					var quantity = qty
				}else{
					var quantity = 1
				}
				if (subs != ""){
					var subscription = subs
				}else{
					var subscription = 0
				}
				
				$.ajax({
					url:"/add_to_cart/",
					data:{	
							product_id:product_id,
							quantity:quantity,
							subscription:subscription,
							csrfmiddlewaretoken: '{{ csrf_token }}'},
					type:"POST",
					dataType: 'json',
					success:function(data)
					{
						
						 if(data.result == "Success"){
							
							document.getElementById("cart_msg").innerHTML = "Product added to cart"
							$('#cartModal').modal('show');
							
							load_cart_data();
						 }
						else if(data.result == "Error"){
							document.getElementById("cart_msg").innerHTML = "Product added failed"
							$('#cartModal').modal('show');
						}
						else if(data.result == "Exists"){
							document.getElementById("cart_msg").innerHTML = "This Product already in cart"
							$('#cartModal').modal('show');
						}
					}
				});
			}
			
			function load_cart_data(){
				$.ajax({
					url:"/get_cart_data_count/",
					data:{	
							csrfmiddlewaretoken: '{{ csrf_token }}'},
					type:"POST",
					dataType: 'json',
					success:function(data)
					{
						document.getElementById("cart_count").innerHTML = data.count
						<!-- if (data.count != "" ){ -->
							<!-- document.getElementById("cart_count").innerHTML = data.count -->
						<!-- }else{ -->
							<!-- document.getElementById("cart_count").innerHTML = 0 -->
						<!-- } -->
					}
				});
			}
			
			$('.datepicker').datepicker({
			   format: 'm/dd/yyyy',
			   Default: true,


			 });
		
		</script>
		
 
		<script src="{% static 'lib/summernote/summernote-bs4.min.js' %}"></script>
		
		<script>
		
		$('#summernote').summernote({
			height: 200,
			width: 478
		})
		</script>
	</body>
</html>