{% extends 'base.html' %}
{% block content %}
	{% load static %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
					
    					<li><a href="/products_list/all" class="{%if code == 'all' %} active {%endif%}">All</a></li>
    					{%for product_group_info in product_group %}
							<li><a href="/products_list/{{product_group_info.id}}" class="{%if code|add:0 == product_group_info.id %} active {%endif%}">{{product_group_info.name}}</a></li>
						{%endfor%}
    				</ul>
    			</div>
    		</div>
    		<div class="row">
				{%for product_info in products%}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="/product/{{product_info.seo_name}}" class="img-prod" style="width:250px;height:200px;border:0px solid red">
							{%if product_image %}
								{%for image_info in product_image %}
									{%if image_info.product_id == product_info.id %}
										<img class="img-fluid" src="/{{image_info.image}}" alt="Colorlib Template">
									{%else%}
										<img class="img-fluid" src="{% static 'images/default_img.jpg' %}" alt="Colorlib Template">
									{%endif%}
								{%endfor%}
							{%else%}
								<img class="img-fluid" src="{% static 'images/default_img.jpg' %}" alt="Colorlib Template">
							{%endif%}

						<!-- <span class="status">30%</span> -->
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center" >
    						<h3><a href="/product/{{product_info.seo_name}}">{{product_info.name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
									{%if product_info.offer_price %}
									<span class="mr-2 price-dc">€ {{product_info.actual_price}}</span> 
									<span class="price-sale">€ {{product_info.offer_price}}</span>
									
									{%else%}
										<span class="price-sale">€ {{product_info.actual_price}}</span></p>
									{%endif%}
									
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="javascript:void(0)" onclick="add_to_cart({{product_info.id}})" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{%endfor%}

    		</div>
    		<!-- <div class="row mt-5"> -->
          <!-- <div class="col text-center"> -->
            <!-- <div class="block-27"> -->
              <!-- <ul> -->
                <!-- <li><a href="#">&lt;</a></li> -->
                <!-- <li class="active"><span>1</span></li> -->
                <!-- <li><a href="#">2</a></li> -->
                <!-- <li><a href="#">3</a></li> -->
                <!-- <li><a href="#">4</a></li> -->
                <!-- <li><a href="#">5</a></li> -->
                <!-- <li><a href="#">&gt;</a></li> -->
              <!-- </ul> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
    	</div>
    </section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light"></section>

		
		
{% endblock %}