{% extends 'base.html' %}
{% block content %}
	{% load static %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span class="mr-2"><a href="">Product</a></span> <span>Product info</span></p>
            <h1 class="mb-0 bread">Product {{product_info.name}}</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
			<p><a href="/products_list/{{product_info.product_group_id}}" style="float:right"class="btn btn-black py-3 px-5">Back</a></p><br>
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="images/product-1.jpg" class="image-popup"><img src="{% static 'images/product-1.jpg' %}" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{product_info.name}}</h3>
    				<!-- <div class="rating d-flex"> -->
							<!-- <p class="text-left mr-4"> -->
								<!-- <a href="#" class="mr-2">5.0</a> -->
								<!-- <a href="#"><span class="ion-ios-star-outline"></span></a> -->
								<!-- <a href="#"><span class="ion-ios-star-outline"></span></a> -->
								<!-- <a href="#"><span class="ion-ios-star-outline"></span></a> -->
								<!-- <a href="#"><span class="ion-ios-star-outline"></span></a> -->
								<!-- <a href="#"><span class="ion-ios-star-outline"></span></a> -->
							<!-- </p> -->
							<!-- <p class="text-left mr-4"> -->
								<!-- <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a> -->
							<!-- </p> -->
							<!-- <p class="text-left"> -->
								<!-- <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a> -->
							<!-- </p> -->
						<!-- </div> -->
					
    				<p class="price">
						{%if product_info.offer_price %}
						<span class="mr-2 price-dc">€ {{product_info.actual_price}}</span> 
						<span class="price-sale">$ {{product_info.offer_price}}</span></p>
						
						{%else%}
							<span class="price-sale">$ {{product_info.actual_price}}</span></p>
						{%endif%}
					</p>
    		
    				<p>{{product_info.description|default:""}}</p>
					<div class="row mt-4">
						<!-- <div class="col-md-6"> -->
							<!-- <div class="form-group d-flex"> -->
							
							<!-- <div class="select-wrap"> -->
							  <!-- <div class="icon"><span class="ion-ios-arrow-down"></span></div> -->
							  <!-- <select name="" id="" class="form-control"> -->
								<!-- <option value="">Small</option> -->
								<!-- <option value="">Medium</option> -->
								<!-- <option value="">Large</option> -->
								<!-- <option value="">Extra Large</option> -->
							  <!-- </select> -->
							<!-- </div> -->
							<!-- </div> -->
						<!-- </div> -->
						<div class="w-100"></div>
						<div class="col-md-12">
							<p style="color: #000;">Package type : {{package_type.name}}</p>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<p style="color: #000;">Weight : {{product_info.weight}} </p>
						</div>
						<div class="col-md-12">
							<div id="quantity_err" style="color:red"></div>
						</div>
						<div class="input-group col-md-6 d-flex mb-3">
							
							Quantity : &nbsp; <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
							
						</div>
						<div class="w-100"></div>
	          	
				</div>
					<p><a href="javascript:void(0)" onclick="get_qty_add_to_cart({{product_info.id}})"class="btn btn-black py-3 px-5">Add to Cart</a></p>
    			</div>
    		</div>
    	</div>
    </section>
	{%if related_products %}
    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Products</span>
            <h2 class="mb-4">Related Products</h2>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
				{%for related_product_info in related_products %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="/product/{{related_product_info.seo_name}}" class="img-prod"><img class="img-fluid" src="{% static 'images/product-1.jpg' %}" alt="Colorlib Template">
    						<!-- <span class="status">30%</span> -->
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="/product/{{related_product_info.seo_name}}">{{related_product_info.name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
									{%if related_product_info.offer_price %}
									<span class="mr-2 price-dc">€ {{related_product_info.actual_price}}</span> 
									<span class="price-sale">€ {{related_product_info.offer_price}}</span>
									
									{%else%}
										<span class="price-sale">€ {{related_product_info.actual_price}}</span>
									{%endif%}</p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<!-- <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center"> -->
	    								<!-- <span><i class="ion-ios-menu"></i></span> -->
	    							<!-- </a> -->
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<!-- <a href="#" class="heart d-flex justify-content-center align-items-center "> -->
	    								<!-- <span><i class="ion-ios-heart"></i></span> -->
	    							<!-- </a> -->
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{%endfor%}
    		</div>
    	</div>
    </section>
	{%endif%}
	
	
<script>
function get_qty_add_to_cart(id){
	document.getElementById("quantity_err").innerHTML =""
	var quantity = document.getElementById("quantity").value;
	if (quantity !="" && quantity != 0){
		if (isNaN(quantity)) { 
			 document.getElementById("quantity_err").innerHTML = "Invalid qty value"
		}else{
			add_to_cart(id,quantity);
		}
	}
	else{
		document.getElementById("quantity_err").innerHTML = "Enter minimum 1 quantity"
	}
	
}
</script>
 {% endblock %}  
  
    